
<footer id="footer" class="page-footer font-small unique-color-dark pt-4">
    <div class="container-fluid">
        <ul class="list-unstyled list-inline text-center py-2">
            {% if settings.ENABLE_PATREON %}
                <li class="list-inline-item">
                    <a href="https://www.patreon.com/modularhistory" class="btn btn-outline-white">Support on Patreon</a>
                </li>
            {% endif %}
        </ul>
        <div class="row">
            <div class="col-md-12 col-lg-12 text-center">
                <div class="footer-links mb-1" style="background-color: rgba(0,0,0,0.2);">
                    <span class="text-center py-3 mx-5">
                        &copy; 2020 ModularHistory, Inc.
                    </span>
                    <a href="/about/introduction">About ModularHistory</a>
                    <a href="/privacy">Privacy Policy</a>
                    <a href="/terms">Terms of Use</a>
                    <ul class="list-social list-unstyled list-inline mx-5" style="display: inline-block">
                        <li style="display: inline-block"><a href="https://twitter.com/modularhistory" rel="nofollow noopener" target="_blank" aria-label="Twitter"><span class="fab fa-twitter"></span></a></li>
                        <li style="display: inline-block"><a href="https://www.facebook.com/modularhistory" rel="nofollow noopener" target="_blank" aria-label="Facebook"><span class="fab fa-facebook-f"></span></a></li>
                        <li style="display: inline-block"><a href="https://www.pinterest.com/modularhistory" rel="nofollow noopener" target="_blank" aria-label="Pinterest"><span class="fab fa-pinterest"></span></a></li>
                        <li style="display: inline-block"><a href="https://www.youtube.com/c/modularhistory" rel="nofollow noopener" target="_blank" aria-label="YouTube"><span class="fab fa-youtube-f"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>