<%! from django.utils import timezone %>
<%! import datetime %>

<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" content="notranslate">
        <meta http-equiv="Content-Language" content="en">
        <!-- <meta property="og:image" content="https://www.history.com${ STATIC_URL }home/media/images/ju1.jpg" /> -->
        <meta property="og:type" content="website" />
        <!-- <meta property="og:url" content="https://www.history.com/" /> -->
        <!-- <meta property="og:title" content="History" /> -->
        <!-- <meta property="og:description" content="Utah's submission tournament leader" /> -->

        <!-- <link rel="shortcut icon" href="${ STATIC_URL }home/media/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="${ STATIC_URL }home/media/favicon.ico" type="image/x-icon" /> -->

        <title><%block name="title">Home</%block> | JTF</title>

        ## Bootstrap CSS
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- ## jQuery datetimepicker CSS
        <link rel="stylesheet" href="${ STATIC_URL }home/scripts/datetimepicker/jquery.datetimepicker.css" /> -->
        <!-- ## jQuery UI CSS
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
        <!-- ## jQuery DataTables CSS
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" /> -->

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        ## Bootstrap
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        ## FontAwesome
        <script src="https://use.fontawesome.com/1a7f0f40be.js"></script>

        <!-- ## emulate tab
        <script src="${ STATIC_URL }home/scripts/emulatetab.joelpurra.js"></script>
        ## plus/enter as tab
        <script src="${ STATIC_URL }home/scripts/plusastab.joelpurra.js"></script>
        ## jQuery loadmodal
        <script src="${ STATIC_URL }home/scripts/jquery.loadmodal.js"></script>
        ## jQuery form
        <script src="${ STATIC_URL }home/scripts/jquery.form.js"></script>
        ## spinning wheel
        <script src="${ STATIC_URL }home/scripts/spin.js" defer></script>
        ## jQuery tablednd
        <script src="${ STATIC_URL }home/scripts/jquery.tablednd.js" defer></script>
        ## list (sorting/searching)
        <script src="${ STATIC_URL }home/scripts/list.js" defer></script>
        ## jQuery datetimepicker
        <script src="${ STATIC_URL }home/scripts/datetimepicker/jquery.datetimepicker.full.js" defer></script> -->
        <!-- ## cookies
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        ## jQuery ui
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
        ## jQuery dataTables
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" defer></script> -->

        <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBZqpNyAkIBNL2LBeG-eWR1VvFWaZ2HBIc'></script> -->

        ## Include additional scripts if necessary
        <%block name="head_scripts">
        </%block>

        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }

        ## Web fonts
        <!--<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>-->
    </head>
    <body>
        <%block name="main_menu">
            <%
                menu_items = [
                    [ 'History',    'occurrences'   ],
                    [ 'People',     'people'        ],
                    [ 'Places',     'places'        ],
                    [ 'Quotes',     'quotes'        ],
                    [ 'Sources',    'sources'        ],
                    [ 'Contact',    'contact'       ],
                ]
            %>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <!-- <img class="img-responsive" style="height: 110px; visibility: hidden;" src="${ STATIC_URL }home/media/images/logo.png" />
                            <div id="navbar-logo" style="position: absolute; top: 0; left: 0; padding: 0 0.5rem; background-color: #991314; height: 127px; border-bottom: 1px solid black; border-bottom-right-radius: 72px; border-left: 1px solid black;">
                                <img class="img-responsive" style="height: inherit; position: relative;" src="${ STATIC_URL }home/media/images/logo.png" />
                            </div> -->
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul id="main-menu" class="nav navbar-nav">
                            %for title, app in menu_items:
                                <li class="nav-item ${ 'active' if True else '' }">
                                    <a class="nav-link" href="/${ app }/">${ title }</a>
                                </li>
                            %endfor
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            %if not request.user.is_authenticated:
                                <li class="nav-item">
                                    <a href="/account/register/" class="nav-link">
                                        <span class="glyphicon glyphicon-user" style="margin-right: 0.1rem;"></span> Register
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/account/login?ajax=True" class="nav-link modal-trigger" id="login-button">
                                        <span class="glyphicon glyphicon-log-in" style="margin-right: 0.3rem;"></span> Login
                                    </a>
                                </li>
                            %else:
                                %if True in (request.user.is_superuser, request.user.groups.filter(name='Administrators').exists(), request.user.groups.filter(name='Referees').exists(), request.user.groups.filter(name='Stagers').exists()):
                                    <li class="dropdown">
                                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                                            Administration <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/events/manage/">Event Administration</a></li>
                                            %if request.user.is_superuser:
                                                <li><a href="/administration/">Site Administration</a></li>
                                                <ul class="dropdown-menu-level-2">
                                                    <!-- <li><a href="/administration/appearance/">Appearance</a></li>
                                                    <li><a href="/administration/content/">Content</a></li> -->
                                                    <li><a href="/admin/">Database</a></li>
                                                </ul>
                                            %endif
                                        </ul>
                                    </li>
                                %endif
                                <li class="dropdown">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                                        Account <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/account/profile/">Profile</a></li>
                                        <li><a href="/account/orders/">Orders</a></li>
                                        <li><a href="/account/settings/">Settings &amp; Privacy</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/account/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                    </ul>
                                </li>
                            %endif
                        </ul>
                    </div>
                </div>
            </nav>
        </%block>
        <div id="main">
          <%block name="base_content">
              <div class="container-fluid">
                  <ol class="breadcrumb" style="margin-left: 18.8rem; padding: 1rem 1rem;">
                      <%block name="breadcrumb">
                      </%block>
                  </ol>
                  <h1 class="page-header text-center" style="margin-top: 0;">
                      <%block name="page_header">
                      </%block>
                  </h1>
                  <%block name="fluid_content">
                      <div id="content" class="container">
                          <%block name="content">
                          </%block>
                      </div>
                  </%block>
              </div>
              <div id="feedback-modal" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title"></h4>
                          </div>
                          <div class="modal-body">
                              <p id="feedback-modal-message" class="text-center"></p>
                          </div>
                          <div class="modal-footer">
                              <a id="feedback-modal-confirm-btn" href="" class="btn btn-primary">OK</a>
                              <button type="button" class="btn btn-default cancel-button" data-dismiss="modal">Cancel</button>
                          </div>
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
          </%block>
        </div>

        <footer id="footer">
            <div class="container text-center">
                <%block name="footer">
                    <span class='copyright'>&copy; ${ datetime.date.today().year } Jacob Fredericksen</span>
                    &nbsp;
                    <span class='privacy-and-terms'><a href="/privacy_policy/">Privacy</a> &middot; <a href="/terms_of_use/" style="display: inline-block">Terms of Use</a></span>
                    <span class='back-to-top'><a href="#">Back to top</a></span>
                </%block>
            </div>
        </footer>

        ## Include any additional JavaScript in subtemplates
        <%block name="scripts">
        </%block>
    </body>
</html>
