{% extends 'account/base.htm' %}

{% block title %}Account Settings{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block page_header %}
    Settings &amp; Privacy
{% endblock %}

{% block content %}
    <div class="container card-deck" style="margin: auto">
        <div class="card m-3">
            <div class="card-header">
                Contact Information
            </div>
            <div class="card-body">
                <h5 class="card-title">Email address</h5>
                <p class="card-text">
                    {{ request.user.email }}
                </p>
            </div>
        </div>
        <div class="card m-3">
            <div class="card-header">
                Login Information
            </div>
            <div class="card-body">
                <h5 class="card-title">Username</h5>
                <p class="card-text">
                    {{ request.user.email }}
                </p>
                <h5 class="card-title">Password</h5>
                <p class="card-text">
                    [hidden]
                </p>
                <a href="{% url 'account:password_change' %}" class="btn btn-default">Change password</a>
            </div>
        </div>
        <div class="card m-3">
            <div class="card-header">
                Social Media Connections
            </div>
            <div class="card-body">
                <h5>Facebook</h5>
                {% if facebook_login %}
                    <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/"
                                       target="_blank">{{ facebook_login.extra_data.id}}</a></p>
                    {% if can_disconnect %}
                        <form method="post"
                              action="{% url 'social:disconnect' backend='facebook' %}">
                            {% csrf_token %}
                            <button type="submit">Disconnect from Facebook</button>
                        </form>
                    {% else %}
                        <button type="button" disabled>Disconnect from Facebook</button>
                        <p style="color: red">You must <a href="">define a password</a> for your
                            account before disconnecting from Facebook.</p>
                    {% endif %}
                    <br/>
                {% else %}
                    <a href="{% url 'social:begin' backend='facebook' %}"
                       class="btn btn-block btn-social btn-facebook"
                       onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
                        <span class="fab fa-facebook-f"></span> Connect with Facebook
                    </a>
                {% endif %}
                <h5>Twitter</h5>
                {% if twitter_login %}
                    <p>
                        Connected as <a
                            href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/"
                            target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a>
                    </p>
                    ${ twitter_login.extra_data }
                    {% if can_disconnect %}
                        <form method="post"
                              action="{% url 'social:disconnect' backend='twitter' %}">
                            {% csrf_token %}
                            <button type="submit">Disconnect from Twitter</button>
                        </form>
                    {% else %}
                        <button type="button" disabled>Disconnect from Twitter</button>
                        <p style="color: red">You must <a href="">define a password</a> for your
                            account before disconnecting from Twitter.</p>
                    {% endif %}
                {% else %}
                    <a href="{% url 'social:begin' backend='twitter' %}"
                       class="btn btn-block btn-social btn-twitter"
                       onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-twitter']);">
                        <span class="fab fa-twitter"></span> Connect with Twitter
                    </a>
                {% endif %}
                <h5>Google</h5>
                {% if google_login %}
                    <p>
                        Connected as {{ user.email }}
                    </p>
                    {% if can_disconnect %}
                        <form method="post"
                              action="{% url 'social:disconnect' backend='google' %}">
                            {% csrf_token %}
                            <button type="submit">Disconnect from Google</button>
                        </form>
                    {% else %}
                        <button type="button" disabled>Disconnect from Google</button>
                        <p style="color: red">You must <a href="">define a password</a> for your
                            account before disconnecting from Google.</p>
                    {% endif %}
                {% else %}
                    <a href="{% url 'social:begin' backend='google' %}"
                       class="btn btn-block btn-social btn-twitter"
                       onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);">
                        <span class="fab fa-google"></span> Connect with Google
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
