<%inherit file="app_base.htm" />

<%block name="title">Shopping Cart</%block>

<%block name="content">
  %if request.shopping_cart.get_item_count() > 0:
    <table class="table table-hover">
      <tr class="active">
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Extended</th>
        <th></th>
      </tr>
      %for item in items:
      <tr>
        <td class="item">
          <a href="/catalog/detail/${ item.product_id }/">
            <img class="img-responsive" style="width: 100px; display: inline" src="${ STATIC_URL }catalog/media/product_images/${ item.product.get_image_filename() }" />
            <span class="name">${ item.product.name }</span>
          </a>
        </td>
        <td class="price">
          <span>$${ item.product.price }</span>
        </td>
        <td class="quantity">
          <span>${ item.desired_quantity }</span>
        </td>
        <td class="extended">
          <span>$${ item.calc_extended() }</span>
        </td>
        <td class="action">
          <span><a href="/catalog/cart.remove/${ item.product_id }/">Remove</a></span>
        </td>
      </tr>
      %endfor
      <tr class="info">
        <th>Subtotal</th>
        <th></th>
        <th></th>
        <th>$${ request.shopping_cart.calc_subtotal() }</th>
        <th></th>
      </tr>
      <tr>
        <td>Tax</td>
        <td></td>
        <td></td>
        <td>$${ request.shopping_cart.calc_tax() }</td>
        <td></td>
      </tr>
      <tr>
        <td>Shipping</td>
        <td></td>
        <td></td>
        <td>$${ request.shopping_cart.calc_shipping() }</td>
        <td></td>
      </tr>
      <tr class="info">
        <th>Total</th>
        <th></th>
        <th></th>
        <th>$${ request.shopping_cart.calc_total() }</th>
        <th></th>
      </tr>
    </table>
    <a href="/catalog/checkout/" class="btn btn-primary pull-right">Check out</a>
  %else:
    <h2 style="text-align: center">Your shopping cart is empty</h2>
    <br />
    <div style="text-align: center"><a href="/catalog/index/" class="btn btn-primary">Start Shopping</a></div>
  %endif
</%block>