<%inherit file="base.htm" />

<%! from django.urls import reverse %>

<%block name="page_header">
    Login
</%block>

<%block name="content">
<div class="row text-center">
    %if next:
        %if request.user.is_authenticated:
            <p>Your account doesn't have access to the requested page. To proceed, please login with an account that has access.</p>
        %else:
            <p class="lead text-center">To continue, please login.</p>
        %endif
    %endif
</div>
<div class="row text-center">
    <div class="col-sm-4">
        <div class="panel panel-default" style="display: inline-block">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Login
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <form id="loginform" action="/account/login" style="display: inline-block" method="POST">
                    ${ csrf_input }
                    <table>
                        ${ loginform.as_table() }
                    </table>
                    <div class="text-center">
                        <input type="submit" value="Login" style="display: inline-block" class="btn btn-danger submit_red"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        %if next and not request.user.is_authenticated:
            <p>Register or login using your social media accounts.</p>
        %endif
        <div class="panel panel-default" style="display: inline-block">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Use Your Social Media Account
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <a href="${ reverse('social:begin', kwargs={'backend': 'facebook'}) }${ ('?next=%s' % request.GET['next']) if request.GET.get('next') else '' }" class="btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
                  <span class="fa fa-facebook"></span> Sign in with Facebook
                </a>
                <%doc>
                <!-- <a href="${ reverse('social:begin', kwargs={'backend': 'twitter'}) }${ ('?next=%s' % request.GET['next']) if request.GET.get('next') else '' }" class="btn btn-block btn-social btn-twitter" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-twitter']);">
                  <span class="fa fa-twitter"></span> Sign in with Twitter
                </a> -->
                </%doc>
                <a href="${ reverse('social:begin', kwargs={'backend': 'google-oauth2'}) }${ ('?next=%s' % request.GET['next']) if request.GET.get('next') else '' }" class="btn btn-block btn-social btn-google" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);">
                  <span class="fa fa-google"></span> Sign in with Google
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        %if next and not request.user.is_authenticated:
            <!-- <p>If you don't yet have an account, you can create one using the registration form below.</p> -->
        %endif
        <div class="panel panel-default" style="display: inline-block">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Register
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <form id="registerform" action="/account/register" method="POST">
                    ${ csrf_input }
                    <table>
                        ${ registerform }
                    </table>
            		<div class="text-right">
            			<input type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 1rem;" value="Register" />
            		</div>
                </form>
            </div>
        </div>
    </div>
</div>
</%block>
