<%inherit file="/base.htm" />

<%! from datetime import datetime %>

<%block name="title">User Details</%block>

<%block name="page_header">
    <div class="row">
        <div class="panel panel-default text-center col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-md-offset-3" style="padding: 2rem;">
            <div id="profile-picture-container" style="display: inline-block;">
                <img class="img-responsive img-circle img-thumbnail" style="max-width: 20rem;" src="${ profile_image_url }" alt="profile picture" />
                <div class="overlay">
                    <div class="overlay-content">
                        <a href="/account/profile.picture/" class="modal-trigger" title="Change Profile Picture"><i class="fa fa-pencil fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <span style="position: absolute; top: 0; right: 0; display: inline-block; font-size: 2.5rem; padding: 1rem;">
                <a href="/account/profile.edit" class="" style=""><i class="fa fa-pencil fa-lg"></i></a>
            </span>
            <span class="text-center page-header" style="display: block; margin-top: 1.5rem;">${ request.user.get_full_name() }</h1>
        </div>
    </div>
</%block>

<%block name="content">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default" style="position: relative">
          <div class="panel-heading"><h3 class="">Information</h3></div>
          <div class="panel-body">
            <table class="table table-responsive">
              <tr>
                  <th>Email</th>
                  <td>${ request.user.email }</td>
              </tr>
              <tr>
                  <th>Address</th>
                  <td>${ request.user.address if request.user.address else '' }</td>
              </tr>
              <tr>
                  <th>Phone Number</th>
                  <td>${ request.user.phone_number if request.user.phone_number else '' }</td>
              </tr>
              <tr>
                  <th>Weight</th>
                  <td>${ request.user.weight if request.user.weight else '' }</td>
              </tr>
              <tr>
                  <th>Belt</th>
                  <td>${ request.user.belt if request.user.belt else '' }</td>
              </tr>
              <tr>
                  <th>Team</th>
                  <td>${ request.user.team if request.user.team else '' }</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default" style="position: relative">
          <div class="panel-heading"><h3 class="">Current Registrations</h3></div>
          <div class="panel-body">
            %if request.user and len(request.user.event_participations.filter(event__datetime__gte=datetime.today())) > 0:
                %for event in request.user.event_participations.filter(event__datetime__gte=datetime.today()):
                  ${ event }
                %endfor
            %else:
                <p class='lead'>You are not currently registered for any events.</p>
            %endif
          </div>
        </div>
      </div>
  </div>
</%block>
