{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% if next %}
            <div class="row text-center">
                {% if request.user.is_authenticated %}
                    <p>Your account doesn't have access to the requested page. To proceed, please login with an account that has access.</p>
                {% else %}
                    <p class="lead text-center">To continue, please login.</p>
                {% endif %}
            </div>
        {% endif %}
        {% crispy form %}
    </div>
{% endblock %}
