{% extends "base.htm" %}

{% load crispy_forms_tags %}

{% block styles %}
    {{ search_form.media.css }}
{% endblock %}

{% block scripts %}
    {{ search_form.media.js }}
{% endblock %}

{% block content %}
    <div class="container" style="position: relative; height: 100%; display: flex; align-items: center; justify-content: center">
        <div class="card p-2">
            <div class="card-body">
                {% crispy search_form %}
            </div>
        </div>
    </div>
{% endblock %}
