version: 2
updates:
  # Maintain dependencies for GitHub Actions.
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  # Maintain JS dependencies.
  - package-ecosystem: "npm"
    directory: "/frontend/"
    schedule:
      interval: "weekly"
  # Maintain Python dependencies.
  - package-ecosystem: "pip"
    directory: "/backend/"
    schedule:
      interval: "weekly"
  # Maintain Docker dependencies.
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # Ignore Python version updates (from 3.8 to 3.9, etc.).
      - dependency-name: "python"
