th:nth-of-type(4), th:nth-of-type(3), th:nth-of-type(2) {
  text-align: right;
}

td.price, td.quantity, td.extended {
  text-align: right;
}

tbody th {
  text-align: left;
}

.table>tbody>tr>td.price, .table>tbody>tr>td.quantity, .table>tbody>tr>td.extended, .table>tbody>tr>td.action {
  vertical-align: middle;
}
