td:nth-of-type(4), th:nth-of-type(4), td:nth-of-type(3), th:nth-of-type(3), td:nth-of-type(5), th:nth-of-type(5) {
  text-align: right;
}

.price, .quantity, .extended {
    text-align: right;
}

.table>tbody>tr>td.price, .table>tbody>tr>td.quantity, .table>tbody>tr>td.extended, .table>tbody>tr>td.action {
  vertical-align: middle;
}

tr.refund th, tr.refund td {
    padding-top: 2.4rem !important;
}
