.gcloudignore
.git
.gitignore

# Docker
Dockerfile.*
docker-compose.*

# Volumes (media, static files, etc.)
_volumes/

# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Virtual Python environment
.venv

# Python
*.py[cod]
*$py.class

# PyCharm / IntelliJ / Visual Studio Code
.idea
.idea/
.DS_Store
.vscode

# Backup files
*.bak
.backups/
backups/

# Testing / linting / coverage reports
.cache/
.coverage_html/
.hypothesis/
.nox/
.selenium/
.tox/
htmlcov/
.coverage
.coverage.*
*.cover
coverage.xml
nosetests.xml

# Celery
celerybeat-schedule.*

# Distribution / packaging
*.egg-info/
.eggs/
eggs/
wheels/
.installed.cfg
*.egg
*.manifest
*.spec

# Node JS
node_modules/
**/node_modules/
/dist
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cypress
cypress/

# GitHub
.github/
README.md
LICENSE.txt
SECURITY.md
