.gcloudignore
.git
.gitignore

# User scripts
setup.sh
clean_data.py

# Media files
/media/

# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Legacy dependency management
requirements.txt

# Virtual Python environment
env/
venv/
.venv/

# Artifacts
.artifacts/
artifacts/

# Python
*.py[cod]
*$py.class

# PyCharm / IntelliJ
.idea
.idea/
.DS_Store

# Backup files
*.bak
.backups/
backups/

# Testing / linting / coverage reports
tests/
tests.py
.cache
.coverage_html/
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.tox/
htmlcov/
.coverage
.coverage.*
*.cover
coverage.xml
nosetests.xml

# Celery
celerybeat-schedule.*

# Distribution / packaging
*.egg-info/
.eggs/
eggs/
wheels/
.installed.cfg
*.egg
*.manifest
*.spec

# Node JS
node_modules/
/dist
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# GitHub
.github/
README.md
LICENSE.txt
SECURITY.md
