# This file specifies files that are *not* uploaded to Google Cloud Platform using gcloud.
# It follows the same syntax as .gitignore, with the addition of "#!include" directives
# (which insert the entries of the given .gitignore-style file at that point).
# For more information, run:
#   $ gcloud topic gcloudignore

.gcloudignore
.git
.gitignore

# All files specified in .gitignore (with exceptions)
#!include:.gitignore

# Exceptions (explicitly included)
!requirements.txt
!/static/
!.credentials/
!.secrets/
!*credentials.json

# GitHub
.github/
README.md

# Ungathered static files
static/

# Media files
media/

# Tests
tests/
tests.py

# User scripts
setup.sh

# PyCharm / IntelliJ
.idea
.idea/
.DS_Store
