# User scripts
clean_data.py

# Environment & credentials
.env
*credentials.json
.credentials/
.secrets/

# Legacy dependency management
requirements.txt

# Virtual Python environment
env/
venv/
.venv/

# Django
media/
staticfiles/
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Node JS
node_modules/

# Python
*.py[cod]
*$py.class

# MyPy
.mypy_cache/

# PyCharm / IntelliJ
.idea
.idea/
.DS_Store

# Backup files
*.bak
backups/

# Distribution / packaging
dist/
eggs/
.eggs/
wheels/
.installed.cfg
*.egg
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# celery
celerybeat-schedule.*
