version: "3.8"

services:
  webserver:
    hostname: modularhistory.dev.net
    volumes:
      - ./.config/nginx/dev:/etc/nginx/conf.d

  next:
    environment:
      NEXTAUTH_URL: "http://modularhistory.dev.net"
    depends_on:
      - django
      - celery
      - celery_beat
