version: "3.8"

services:
  webserver:
    build:
      context: .
      dockerfile: ./build/Dockerfile.webserver
      args:
        ENVIRONMENT: dev
    hostname: modularhistory.dev.net
    image: webserver:latest
    volumes:
      # Override docker-compose.yml's `./config/nginx/prod:/etc/nginx/conf.d`
      - ./config/nginx/dev:/etc/nginx/conf.d

  celery:
    image: django:latest
    user: root
    volumes:
      - .:/modularhistory
      - ./config/scripts/wait-for-it.sh:/usr/local/bin/wait-for-it.sh

  celery_beat:
    image: django:latest
    volumes:
      - .:/modularhistory
      - ./config/scripts/wait-for-it.sh:/usr/local/bin/wait-for-it.sh

  django:
    build:
      context: .
      dockerfile: ./build/Dockerfile.django
      args:
        ENVIRONMENT: dev
    # deploy:
    #   restart_policy:
    #     condition: 'no'
    image: django:latest
    user: root
    ports:
      - "8000:8000"
    volumes:
      - .:/modularhistory
      - ./config/scripts/wait-for-it.sh:/usr/local/bin/wait-for-it.sh

  github_workflow_preprocessor:
    command: sh .github/preprocess.sh
    entrypoint: ''
    image: ghcr.io/mithro/actions-includes/image:main
    user: root
    volumes:
      - .:/github/workspace
      - ./.git:/github/workspace/.git

  next:
    build:
      context: .
      dockerfile: ./build/Dockerfile.next
      args:
        ENVIRONMENT: dev
    command: npm run dev
    environment:
      NEXTAUTH_URL: "http://modularhistory.dev.net"
      REACT_EDITOR: "code"
    image: next:latest
    user: root # avoid permissions issues with writing in build dir
    ports:
      - "3002:3002"
    volumes:
      - ./frontend:/modularhistory/frontend
      - ./frontend/node_modules:/modularhistory/frontend/node_modules
      - ./config/scripts/wait-for-it.sh:/usr/local/bin/wait-for-it.sh
      - ./core/static/:/modularhistory/core/static

  elasticsearch:
    ports:
      - "9200:9200"
    environment:
      - ELASTIC_PASSWORD=test
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"

  kibana:
    ports:
      - "5601:5601"

  postgres:
    ports:
      - "5432:5432"

  redis:
    ports:
      - "6379:6379"
