appdirs==1.4.3
asgiref==3.2.3
celery==4.4.0
certifi==2019.11.28
cycler==0.10.0
Django==3.0.1
django-crispy-forms==1.8.1
django-imagekit==4.0.2
django-mako-plus==5.11.2
django-polymorphic==2.1.2
django-tinymce==2.8.0
kombu==4.6.7
mailchimp==2.0.9
Mako==1.0.6
pdfkit==0.6.1
pexpect==4.7.0
pipenv==2018.11.26
psycopg2==2.8.4
ptyprocess==0.6.0
python-dateutil==2.6.0
python-decouple==3.1
python-magic==0.4.13
pytz==2019.3
requests==2.22.0
selenium==3.141.0
sqlparse==0.3.0
tabulate==0.8.6
termcolor==1.1.0
tinycss==0.4
virtualenv==16.7.9
virtualenv-clone==0.5.3
wcwidth==0.1.7
websocket-client==0.40.0