appdirs==1.4.3
asgiref==3.2.3
beautifulsoup4==4.8.2
celery==4.4.1
certifi==2019.11.28
cycler==0.10.0
Django==3.0.4
djangorestframework==3.11.0
django-admin-menu
django-bootstrap-datepicker-plus==3.0.5
django-crispy-forms==1.9.0
django-filter==2.2.0
django-imagekit==4.0.2
django-mako-plus==5.11.2
django-mass-edit==3.2.0
django-polymorphic==2.1.2
django-sass-processor==0.8
django-select2==7.2.0
django-settings-export==1.2.1
django-tinymce==2.8.0
django-debug-toolbar
django-typed-models==0.9.0
django-reverse-admin==2.8.3
html5lib==1.0.1
humanize==2.0.0
kombu==4.6.7
lxml==4.5.0
mailchimp==2.0.9
Mako==1.1.2
markdown==3.1.1
millify==0.1.1
natural-keys==1.6.0
pafy==0.5.5
pdfkit==0.6.1
pexpect==4.8.0
pillow==7.0.0
pipenv==2018.11.26
psycopg2-binary==2.8.4
ptyprocess==0.6.0
python-dateutil==2.8.1
python-decouple==3.3
python-magic==0.4.15
pytz==2019.3
requests==2.23.0
selenium==3.141.0
sigfig==1.1.8
six==1.14.0
social-auth-app-django==3.1.0
sqlparse==0.3.1
tabulate==0.8.6
termcolor==1.1.0
tinycss==0.4
virtualenv==20.0.9
virtualenv-clone==0.5.3
wcwidth==0.1.8
websocket-client==0.40.0
youtube_dl