{% extends "base.html" %}
{% load get_html_for_view %}

{% block content %}
    <div class="container">
        {%if places|length %}
            <div id="occurrences-list">
                {% for place in places %}
                    {{ place|get_html_for_view:"card" }}
                {% endfor %}
            </div>
        {% else %}
            <p class="lead">
                Hell is other entities.
            </p>
            <p>
                If you have any questions, please <a href="/contact/">contact me</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}
