{% load get_admin_url %}
{% load card %}

<div class="container my-4">
    <a class="edit-object-button float-right pull-right" target="_blank" href="{{ entity|get_admin_url }}">
        <i class="fa fa-edit"></i>
    </a>
    <h1>{{ entity }}</h1>
    {% if entity.birth_date and entity.death_date %}
        <p>{{ entity.birth_date.html }} – {{ entity.death_date.html }}</p>
    {% elif entity.birth_date %}
        <p>b. {{ entity.birth_date.html }}</p>
    {% elif entity.death_date %}
        <p>d. {{ entity.death_date.html }}</p>
    {% endif %}
    <div>
        {% if entity.images.exists and not entity.quotes.all|length %}
            <div class="img-container">{% card entity.images.first %}</div>
        {% endif %}
        {{ entity.description.html }}
    </div>
    <div>
        {% if entity.quotes.all|length %}
            {% for quote in entity.quotes.all %}
                <hr style="clear: both" />
                <div class="m-2" data-key="{{ quote.key }}" data-href="{% block detail_url %}{% endblock %}">
                    {% if quote.primary_image %}
                        {% if quote.html|length > 1500 or entity.quotes.all|length == 1 %}
                            <div class="img-container">
                                {% card quote.primary_image %}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if quote.date_string %}
                        <!--Title-->
                        <h4 class="card-title text-center">
                            <small>
                                {% if quote.date_html %}
                                    {{ quote.date_html }}
                                {% else %}
                                    {{ quote.date.html }}
                                {% endif %}
                            </small>
                        </h4>
                    {% endif %}
                    {{ quote.html }}
                    {% if quote.related_topics and quote.related_topics|length %}
                        <ul class="tags float-right">
                            {{ quote.topic_tags }}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            No quotes
        {% endif %}
    </div>
</div>