{% load get_admin_url %}
{% load quote_card %}

<div style="position: relative;">
    <h1>{{ entity }}</h1>
    <div>
        {% for image in entity.images.all %}
            {{ image.admin_image_element }}
        {% endfor %}
    </div>
    <div>
        {{ entity.description.html }}
    </div>
    <div>
        {% if entity.quotes.all|length %}
            {% for quote in entity.quotes.all %}
                <div class="row">
                    <blockquote class="blockquote">
                        {% if quote.bite %}
                            {{ quote.bite.html }}
                        {% else %}
                            {{ quote.text.html|truncatechars_html:100 }}
                        {% endif %}
                        <footer class="blockquote-footer">
                            {{ quote.source_reference }}
                        </footer>
                    </blockquote>
                    {% if quote.source_file_url %}
                        <a href="{{ quote.source_file_url }}" class="btn btn-info display-source"
                           data-toggle="modal" data-target="#modal">View source</a>
                    {% endif %}
                    <a class="edit-object-button" target="_blank" href="{{ quote|get_admin_url }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            No quotes
        {% endif %}
    </div>
    <a class="edit-object-button" target="_blank" href="{{ entity|get_admin_url }}"><i class="fa fa-edit"></i></a>
</div>