{% extends "base.htm" %}

{% load entity_card %}

{% block content %}
    <div class="container">
        {% if entities|length %}
            {% for entity in entities %}
                <div class="row">
                    <div class="col-sm-2">
                        ...
                    </div>
                    <div class="col-sm-10">
                        {% entity_card entity %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">
                Hell is other entities.
            </p>
            <p>
                If you have any questions, please <a href="/contact/">contact me</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}
