{% extends "_card.html" %}
{% load get_detail_url %}
{% load get_categorization_string %}

{% block edit %}
    {% with object=quote request=request %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block tags %}
    {% with object=quote request=request %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block detail_url %}{{ quote|get_detail_url }}{% endblock %}

{% block body %}
    <!--Text-->
    <div class="card-text">
        <blockquote class="blockquote">
            {% if quote.bite %}
                {{ quote.bite.html }}
            {% else %}
                {{ quote.text.html|truncatechars_html:100 }}
            {% endif %}
            <footer class="blockquote-footer">
                {% if quote.attributee_string %}
                    {{ quote.attributee_string }}
                    {% if quote.attributees.all|length == 1 %}
                        {% with categorization=quote.attributees.first|get_categorization_string:quote.date %}
                            {% if categorization %}
                                <span style="opacity: 0.5; margin-left: 0.5rem;">
                                    ({{ categorization }})
                                </span>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% elif quote.citation %}
                    {{ quote.citation }}
                {% else %}
                    Unknown
                {% endif %}
            </footer>
        </blockquote>
    </div>
{% endblock %}