{% load get_admin_url %}
{% load image_card %}

{% if quote.attributee %}
<p class="lead">
    <a href="{% url 'entities:detail' quote.attributee.id %}" target="_blank">{{ quote.attributee }}</a>{% if quote.date %}, {{ quote.date.string }}{% endif %}
</p>
{% endif %}
<div class="card-text">
    {% if quote.image %}
        <div class="img-container">
            {% image_card quote.image %}
        </div>
    {% endif %}
    {{ quote.html }}
</div>
{% if request.user.is_superuser %}
    <a class="edit-object-button" target="_blank" href="{{ quote|get_admin_url }}"><i class="fa fa-edit"></i></a>
{% endif %}
