{% extends "base.htm" %}
{% load card %}

{% block content %}
    <div class="container">
        {% if quotes|length %}
            <div>
                {% for quote in quotes %}
                    {% card quote %}
                {% endfor %}
            </div>
        {% else %}
            <p class="lead">
                Hell is other quotes.
            </p>
            <p>
                If you have any questions, please <a href="/contact/">contact me</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}
