{% load get_admin_url %}
{% load get_html_for_view %}

<div class="container my-4">
    <a class="edit-object-button float-right pull-right" target="_blank" href="{{ person|get_admin_url }}">
        <i class="fa fa-edit"></i>
    </a>
    <h1>{{ person }}</h1>
    {% if person.birth_date and person.death_date %}
        <p>{{ person.birth_date.html }} – {{ person.death_date.html }}</p>
    {% elif person.birth_date %}
        <p>b. {{ person.birth_date.html }}</p>
    {% elif person.death_date %}
        <p>d. {{ person.death_date.html }}</p>
    {% endif %}
    <div>
        {% if person.serialized_images and not person.quotes.all|length %}
            <div class="img-container">{{ person.primary_image|get_html_for_view:"card" }}</div>
        {% endif %}
        {{ person.description.html }}
    </div>
    <div>
        {% if person.quotes.all|length %}
            {% for quote in person.quotes.all %}
                <hr style="clear: both" />
                <div class="m-2" data-key="{{ quote.key }}" data-href="{% block detail_url %}{% endblock %}">
                    {% if quote.primary_image %}
                        {% if quote.html|length > 1500 or person.quotes.all|length == 1 %}
                            <div class="img-container">
                                {{ quote.primary_image|get_html_for_view:"card" }}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if quote.date_string %}
                        <!--Title-->
                        <h4 class="card-title text-center">
                            <small>
                                {% if quote.date_html %}
                                    {{ quote.date_html }}
                                {% else %}
                                    {{ quote.date.html }}
                                {% endif %}
                            </small>
                        </h4>
                    {% endif %}
                    {{ quote.html }}
                    {% if quote.tags_html %}
                        <ul class="tags float-right">
                            {{ quote.tags_html }}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            No quotes
        {% endif %}
    </div>
</div>