@import "generic";
@import "mdb";
@import "serp";

@mixin mobileNavbar {
  @media only screen and (max-width: 575px) {
    @content;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  > .container {
    margin-top: 1.5rem;
  }
}

.embed-responsive-210by297 {
  padding-bottom: 141.42%;
}

#global-nav {
  margin-bottom: 0; // Set margin-top on main content, instead.
  .avatar {
    margin-top: auto;
    margin-bottom: auto;
  }
  &.navbar-dark.bg-dark {
    .nav-item a,
    .nav-link {
      color: rgba(255, 255, 255, 0.6);
      &.active {
        color: white;
      }
    }
    .dropdown-menu.show {
      background-color: #343a40;
      border-top: none;
      a.dropdown-item {
        color: rgba(255, 255, 255, 0.6) !important;
        &:hover {
          color: white !important;
          background-color: #343a40;
        }
      }
    }
  }
}

.tooltip-inner {
  max-width: 90%;
}

span.date {
  display: inline-block;
  white-space: nowrap;
}

div.detail {
  position: relative;
}

.footer-links a {
  display: inline-block;
  margin: 0.5rem 1rem;
}

#collapsibleNavbar {
  @include mobileNavbar {
    background-color: inherit;
    z-index: 4;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    .avatar {
      margin-top: 0.5rem;
    }
  }
}

.edit-object-button {
  display: none;
}

.citation {
  .fa,
  .fab,
  .fas {
    margin-left: 0.5rem;
  }
}

.img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
}

.url {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card,
.row {
  position: relative;
  &.image-card {
    display: inline-block;
    .image-credit {
      font-size: 0.6rem;
    }
    .card-body {
      font-size: 0.9rem;
      padding-top: 1rem !important;
      padding-bottom: 0 !important;
    }
  }
  .edit-object-button {
    clear: right;
    position: absolute;
    right: 2px;
    top: 2px;
  }
  .blockquote,
  .blockquote > footer {
    .edit-object-button {
      position: static;
      float: right;
    }
  }
}

ul.tags {
  padding: 0;
  li.topic-tag {
    list-style: none;
    font-size: 0.6rem;
    background-color: rgba(255, 255, 153, 0.8);
    margin: 2px;
    padding: 4px;
    display: inline;
  }
}

// horizontal timeline styles

ul.timeline {
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 30px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul::after {
    content: "";
    display: block;
    clear: both;
  }
  ul .year {
    color: #ffd402;
    background: #3f444c;
    display: block;
    position: relative;
    padding-left: 24px;
    line-height: 24px;
    font-weight: bold;
    font-size: 18px;
  }
  ul .year::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: #ffd402;
    border-radius: 50%;
    left: -24px;
    top: calc((40 - 24) / 2 * -1px);
  }
  ul .year.new {
    border-radius: 0 24px 24px 0;
  }
  ul .year.new::after {
    content: "";
    width: 5px;
    height: 5px;
    display: block;
    box-sizing: border-box;
    border: 20px solid #3f444c;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: -30px;
    top: -9.5px;
  }
  ul .content {
    border-left: 8px solid #ffd402;
    margin-left: -8px;
    padding: 15px 0;
    padding-right: 24px;
  }
  ul .content > li {
    padding-left: 20px;
    border-bottom: 4px solid #eef4f7;
    padding-bottom: 8px;
    position: relative;
    margin-left: -8px;
  }
  ul .content > li:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
  ul .content > li::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #eef4f7;
    left: 2px;
    top: 8px;
  }
}

ul.timeline > li {
  width: calc(100% / 6);
}
ul.timeline > li:nth-of-type(odd) > .content {
  -webkit-transform: translateY(calc(-100% - 24px));
  transform: translateY(calc(-100% - 24px));
}

@media screen and (max-width: 1140px) {
  ul.timeline > li {
    width: calc(100% / 4);
  }
}
@media screen and (max-width: 991px) {
  ul.timeline > li {
    width: calc(100% / 2);
  }
  div.rpv-default-layout__sidebar.rpv-default-layout__sidebar--ltr {
    display: hidden !important;
  }
}
@media screen and (max-width: 767px) {
  ul.timeline {
    display: block;
  }
  ul.timeline > li {
    width: 100%;
  }
  ul.timeline > li:nth-of-type(odd) .content {
    -webkit-transform: none;
    transform: none;
  }
}
