.error {
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

#error .error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

h1 {
  margin: 2rem;
}
