{% extends "base.html" %}
{% load get_html_for_view %}

{% block content %}
    <div class="container">
        {% if topics|length %}
            <div>
                {% for topic in topics %}
                    {{ topic|get_html_for_view:"card" }}
                {% endfor %}
            </div>
        {% else %}
            <p class="lead">
                Hell is other quotes.
            </p>
            <p>
                If you have any questions, please <a href="/contact/">contact me</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}
