{% extends "_card.html" %}
{% load model_urls %}
{% load get_categorization_string %}

{% block edit %}
    {% with object=quote request=request %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block tags %}
    {% with object=quote request=request %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}
    <!--Text-->
    <div class="card-text">
        <blockquote class="blockquote">
            {% if quote.bite %}
                {{ quote.bite|safe }}
            {% else %}
                {{ quote.text|truncatechars_html:100|safe }}
            {% endif %}
            <footer class="blockquote-footer">
                {% if quote.attributee_string %}
                    {{ quote.attributee_string }}
{#                    {% if not quote.has_multiple_attributees %}#}
{#                        {% with categorization=quote.attributees.first|get_categorization_string:quote.date %}#}
{#                            {% if categorization %}#}
{#                                <span style="opacity: 0.5; margin-left: 0.5rem;">#}
{#                                    ({{ categorization }})#}
{#                                </span>#}
{#                            {% endif %}#}
{#                        {% endwith %}#}
{#                    {% endif %}#}
                {% endif %}
            </footer>
        </blockquote>
    </div>
{% endblock %}