{% load get_admin_url %}
{% load get_html_for_view %}

<div class="detail">
    <a class="edit-object-button float-right" target="_blank"
       href="{% url 'admin:quotes_quote_change' quote.pk %}">
        <i class="fa fa-edit"></i>
    </a>
    <h2 class="text-center card-title">
        {{ quote.attributee_html }}{% if quote.date_html %}, {{ quote.date_html }}{% endif %}
    </h2>
    <div class="card-text">
        {% if quote.serialized_images %}
            <div class="img-container" style="max-width: 44%">
                {{ quote.serialized_images|first|get_html_for_view:"card" }}
            </div>
        {% endif %}
        {% if request.user.is_superuser %}
            <a class="edit-object-button float-right" style="margin-left: 1rem;"
               target="_blank" href="{{ quote|get_admin_url }}">
                <i class="fa fa-edit"></i>
            </a>
        {% endif %}
        {{ quote.html|safe }}
        {% if request.user.is_superuser %}
            <a class="edit-object-button float-right" style="position: relative; bottom: 2rem; margin-left: 1rem;"
               target="_blank" href="{{ quote|get_admin_url }}">
                <i class="fa fa-edit"></i>
            </a>
        {% endif %}
        {% if quote.tags_html %}
            <ul class="tags">
                {{ quote.tags_html|safe }}
            </ul>
        {% endif %}
        <footer class="footer sources-footer">
            <ol class="citations">
                {% for citation in quote.serialized_citations %}
                    <li class="source" id="citation-{{ citation.pk }}">
                        {{ citation.html|safe }}
                    </li>
                {% endfor %}
            </ol>
        </footer>
    </div>
</div>