{% load get_admin_url %}
{% load card %}
{% load detail %}

<div class="card-text">
    {{ source }}
    {% if source.source_file %}
        <a href="{{ source.source_file.url }}" class="display-source"
           data-toggle="modal" data-target="#modal">
            <i class="fas fa-search"></i>
        </a>
    {% endif %}
</div>

<div>
    {% if quotes|length %}
        {% for quote in quotes %}
            <hr style="clear: both" />
            <div class="m-2" data-key="{{ quote.key }}" data-href="{% block detail_url %}{% endblock %}">
                {% detail quote %}
            </div>
        {% endfor %}
    {% else %}
        No quotes
    {% endif %}
</div>

<a class="edit-object-button" target="_blank" href="{{ source|get_admin_url }}"><i class="fa fa-edit"></i></a>
