{% load static %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="global-nav" style="min-height: 4rem">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
        <img src='{% static "logo_head_white.png" %}' alt="The ModularHistory logo" style="height: 2.5rem">
        ModularHistory
    </a>

    <!-- Non-collapsible links -->
    <div class="d-flex ml-auto order-1 order-sm-2">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item avatar dropdown">
                    <a class="nav-link p-0 dropdown-toggle" id="userDropdown" data-toggle="dropdown">
                        {% if user.avatar %}
                            <img src="{{ user.avatar.url }}" class="rounded-circle z-depth-0"
                                 alt="{{ user }}" height="35" />
                        {% else %}
                            <i class="fas fa-user"></i>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a>
                        {% if user.is_superuser %}
                            <a href="/_admin/" class="dropdown-item" >Administrate</a>
                            <a href="" class="dropdown-item hide-admin-controls">Hide admin controls</a>
                        {% endif %}
                        <a href="/api/auth/signout" class="dropdown-item">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                        </a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="/api/auth/signin?callbackUrl={{ request.build_absolute_uri }}" class="nav-link">Sign in</a>
                </li>
            {% endif %}
        </ul>
        <!-- Toggler/collapser button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <!-- Collapsible links -->
    <div class="collapse navbar-collapse order-2 order-sm-1" id="collapsibleNavbar">
        <ul class="navbar-nav">
            {% block main_menu %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        About
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/about/">About Us</a>
                        <a class="dropdown-item" href="/manifesto/">Manifesto</a>
                    </div>
                </li>
                {% for title, reference in settings.MENU_ITEMS %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ reference }}">{{ title }}</a>
                    </li>
                {% endfor %}
            {% endblock %}
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons justify-content-end">

        </ul>
    </div>
</nav>
