<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ModularHistory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--# if expr="$status = 502" -->
      <meta http-equiv="refresh" content="5">
    <!--# endif -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="/static/styles/error.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="global-nav" style="min-height: 4rem">
        <a class="navbar-brand" href="/">
            <img src='/static/logo_head_white.png' alt="The ModularHistory logo" style="height: 2.5rem">
            ModularHistory
        </a>
        <div class="d-flex ml-auto order-1 order-sm-2">
        </div>
        <div class="collapse navbar-collapse order-2 order-sm-1" id="collapsibleNavbar">
        </div>
    </nav>
    <div id="error">
        <div class="error">
            <div class="error-content">
                <!--# if expr="$status = 502" -->
                    <h1 class="text-center">ModularHistory is being updated.</h1>
                    <p class="text-center lead">You will be redirected shortly...</p>
                <!--# else -->
                    <h1><!--# echo var="status" default="" --></h1>
                    <h2><!--# echo var="status_text" default="An error occurred." --></h2>
                <!--# endif -->
            </div>
        </div>
    </div>
</body>
</html>
