{% extends "_row.html" %}
{% load model_urls %}

{% block row_content %}
    <h4 class="text-center card-title">
        {% if occurrence.date %}{{ occurrence.date}}{% else %}{{occurrence.year }}{% endif %}
    </h4>
    <div class="card-text">
        <div class="lead">
            {{ occurrence.summary.html }}
        </div>
        {{ occurrence.description.html }}
    </div>
    {% if occurrence.related_quotes.all|length %}
        {% for quote in occurrence.related_quotes.all %}
            {{ quote|get_html_for_view:"card" }}
        {% endfor %}
    {% endif %}
    <a class="edit-object-button" target="_blank" rel="noopener noreferrer" href="{{ occurrence|get_admin_url }}"><i class="fa fa-edit"></i></a>
{% endblock %}