{% load get_admin_url %}

<div class="container">
    
    <h1>
        {{ fact.summary|safe }}
    </h1>

    {% if fact.supportive_facts.exists %}
        <ul class="list-group my-5">
            {% for supportive_fact in fact.supportive_facts.all %}
                <li class="list-group-item">
                    {{ supportive_fact.summary_link|safe }}
                </li>
            {% endfor %}
            <li class="list-group-item active">
                {{ fact.summary|safe }}
            </li>
        </ul>
    {% endif %}

    {% if fact.elaboration %}
    <div>
        {{ fact.elaboration|safe }}
    </div>
    {% endif %}
</div>

<a class="edit-object-button" target="_blank" href="{{ fact|get_admin_url }}"><i class="fa fa-edit"></i></a>
