<%inherit file="/home/templates/base.htm" />

<%block name="content">
    <div class="container">
        %if len(places) > 0:
            <div id="occurrences-list">
                %for place in places:
                    <div class="row">
                        <div>
                            <h2>
                                <a href="/places/${ place.id }/">${ place.name }</a>
                            </h2>
                        </div>
                    </div>
                    <hr />
                %endfor
            </div>
        %else:
            <p class="lead">
                Hell is other people.
            </p>
            <p>
                If you have any questions, please <a href="/contact/">contact me</a>.
            </p>
        %endif
    </div>
</%block>
