
/* 
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#error {
  position: relative;
  height: 60vh;
}

.error {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

#error .error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.error .error-content {
  position: relative;
  height: 200px;
  margin: 0 auto 20px;
  z-index: -1;
}

.error .error-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 200px;
  font-weight: 200;
  margin: 0;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.error .error-content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.error a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #1c2c4b;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.error a:hover {
  color: #2c4473;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .error .error-content h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .error .error-content {
    height: 148px;
    margin: 0 auto 10px;
  }

  .error .error-content h1 {
    font-size: 86px;
  }

  .error .error-content h2 {
    font-size: 16px;
  }

  .error a {
    padding: 7px 15px;
    font-size: 14px;
  }
} 
*/
