{% load model_urls %}
{% load content_types %}
{% load media %}

<div class="card m-2 {% block card_class %}{% endblock %}" style="{% block card_styles %}{% endblock %}">
    {% block top %}
        {% if not object.verified %}
            <span style="display: inline-block; position: absolute; top: 1px; right: 1px;">
                UNVERIFIED
            </span>
        {% endif %}
    {% endblock %}
    {% if not object|is_instance:'images.Image' %}
        {% with image=object.serialized_images|first %}
            <div{% if image %} class="img-bg lazy-bg"
                 data-img="{% media image.src_url %}"
                 style="background-position: {{ image.bg_img_position }};
                         background-image: url('{% media image.src_url %}')"{% endif %}>
            </div>
        {% endwith %}
    {% endif %}
    <div class="card-body" style="background-color: transparent; z-index: 1;">
        {% if not object|is_instance:'images.Image' %}
            {% if object.date_html %}
                <p class="card-title text-center my-1">
                    <small>
                        {{ object.date_html }}
                    </small>
                </p>
            {% endif %}
        {% endif %}
        {% block body %}{% endblock %}
    </div>
</div>
