{% if page_obj.has_previous or page_obj.has_next %}
    <div class="pagination" style="text-align: center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% if query %}query={{ query }}&{% endif %}page=1">
                        &laquo; first
                    </a>
                    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">
                        previous
                    </a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.next_page_number }}">
                        next
                    </a>
                    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}">
                        last &raquo;
                    </a>
                {% endif %}
            </span>
    </div>
{% endif %}