<!DOCTYPE html>
{% load static %}
{% load modal %}
<html lang="en" xml:lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P68V7DK');</script>
        <!-- End Google Tag Manager -->

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Language" content="en">
        <meta property="og:type" content="website" />
        <!-- <meta property="og:image" content="https://www.history.com${ STATIC_URL }home/media/images/ju1.jpg" /> -->
        <meta property="og:url" content="https://www.modularhistory.com/" />
        <meta property="og:title" content="ModularHistory" />
        <meta property="og:description" content="History, modularized." />

        <title>
            {% block title %}
                Home
            {% endblock %} | ModularHistory
        </title>

        <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />

        <!-- ## jQuery UI CSS
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
        <!-- ## jQuery DataTables CSS
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" /> -->

        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <!-- Material Design Bootstrap CSS -->
        <link rel="stylesheet" href='{% static "libraries/mdb/css/mdb.min.css" %}' type="text/css" />

        <!--<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>-->

        <!-- TODO -->
{#        <!-- AnnotatorJS (http://docs.annotatorjs.org/en/) -->#}
{#        <script src="{% static "libraries/annotator/annotator-full.min.js" %}" defer></script>#}
{#        <link rel="stylesheet" href="{% static "libraries/annotator/annotator.min.css" %}">#}

        <!-- Custom styles -->
        {% load sass_tags %}
        <link rel="stylesheet" href="{% sass_src 'styles/base.scss' %}" type="text/css" />

        {% block styles %}{% endblock %}

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- Material Design Bootstrap core JavaScript -->
        <script type="text/javascript" src='{% static "libraries/mdb/js/mdb.min.js" %}'></script>
        <!-- PDF.js -->
        <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2/build/pdf.min.js" defer></script>
        <!-- Epub.js -->
        <script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js" defer></script>

        <!--
        ## emulate tab
        <script src="${ STATIC_URL }home/scripts/emulatetab.joelpurra.js"></script>
        ## plus/enter as tab
        <script src="${ STATIC_URL }home/scripts/plusastab.joelpurra.js"></script>
        ## jQuery loadmodal
        <script src="${ STATIC_URL }home/scripts/jquery.loadmodal.js"></script>
        ## jQuery form
        <script src="${ STATIC_URL }home/scripts/jquery.form.js"></script>
        ## spinning wheel
        <script src="${ STATIC_URL }home/scripts/spin.js" defer></script>
        ## jQuery tablednd
        <script src="${ STATIC_URL }home/scripts/jquery.tablednd.js" defer></script>
        ## list (sorting/searching)
        <script src="${ STATIC_URL }home/scripts/list.js" defer></script>
        -->

        <!--
        ## cookies
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        ## jQuery ui
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
        ## jQuery dataTables
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" defer></script>
        -->

        <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBZqpNyAkIBNL2LBeG-eWR1VvFWaZ2HBIc'></script> -->
        {% if request.user.is_superuser %}
            <style>
                .edit-object-button {display: inline;}
            </style>
        {% endif %}
        <script type="text/javascript" src='{% static "scripts/base.js" %}' defer></script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P68V7DK"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="global-nav" style="min-height: 4rem">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img src='{% static "logo_head_white.png" %}' alt="Logo" style="height: 2.5rem">
                ModularHistory
            </a>

            <!-- Non-collapsible links -->
            <div class="d-flex ml-auto order-1 order-sm-2">
                <ul class="navbar-nav">
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link p-0 dropdown-toggle" id="accountDropdown" data-toggle="dropdown">
                            {% if request.user.is_authenticated %}
                                {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}" class="rounded-circle z-depth-0"
                                         alt="{{ user }}" height="35" />
                                {% else %}
                                    <i class="fas fa-user"></i>
                                {% endif %}
                            {% else %}
                                <i class="fas fa-user"></i>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="accountDropdown">
                            {% if request.user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'account:settings' %}">Settings</a>
                                {% if request.user.is_superuser %}
                                    <a href="/admin/" class="dropdown-item" >Administrate</a>
                                    <a href="" class="dropdown-item hide-admin-controls">Hide admin controls</a>
                                {% endif %}
                                <a href="{% url 'account:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            {% else %}
                                <a href="{% url 'account:register' %}" class="dropdown-item">Create an account</a>
                                <a href="{% url 'account:login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <!-- Toggler/collapser button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <!-- Collapsible links -->
            <div class="collapse navbar-collapse order-2 order-sm-1" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    {% block main_menu %}
                        {% if request.user.is_superuser %}
                            {% with menu_items=settings.MENU_ITEMS %}
                                {% for title, app in menu_items %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/history/{{ app }}/">{{ title }}</a>
                                    </li>
                                {% endfor %}
                            {% endwith %}

{#                            <!-- Dropdown -->#}
{#                            <li class="nav-item dropdown active">#}
{#                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">#}
{#                                    History#}
{#                                </a>#}
{#                                <div class="dropdown-menu">#}
{#                                    {% for title, app in settings.MENU_ITEMS %}#}
{#                                        <a class="dropdown-item" href="/history/{{ app }}/">{{ title }}</a>#}
{#                                        <!--<li class="nav-item ${'active' if False else ''}">-->#}
{#                                        <!--<a class="nav-link" href="/${ app }/">${ title }</a>-->#}
{#                                        <!--</li>-->#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </li>#}
                        {% endif %}
                    {% endblock %}
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons justify-content-end">

                </ul>
            </div>
        </nav>
        <div class="main-content">
            {% block breadcrumb %}
                {% if breadcrumb_items %}
                    <ol class="breadcrumb" style="">
                        {% for title, app in breadcrumb_items %}
                        ...
                        {% endfor %}
                    </ol>
                {% endif %}
            {% endblock %}
            {% block content %}
                ...
            {% endblock %}
        </div>

        {% block footer %}
            <!-- Footer -->
            <footer id="footer" class="page-footer font-small unique-color-dark pt-4">

                <!-- Footer Elements -->
                <div class="container">
                    <!-- Call to action -->
                    <ul class="list-unstyled list-inline text-center py-2">
                        <li class="list-inline-item">
                            <a href="https://www.patreon.com/modularhistory" class="btn btn-outline-white">Support on Patreon</a>
                        </li>
                    </ul>

                    <div class="row">
                        <div class="col-md-12 col-lg-12 text-center">
                            <p class="mb-1">
                                <a href="/privacy">Privacy Policy</a>
                                <i style="font-size: xx-small; margin: 0.5rem;" class="fas fa-circle"></i>
                                <a href="/terms">Terms of Use</a>
                            </p>
                            <div class="list-social">
                                <ul class="list-unstyled">
                                    <li><a href="https://twitter.com/TermsFeed" rel="nofollow noopener" target="_blank" aria-label="Twitter"><i class="icon-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/termsfeed" rel="nofollow noopener" target="_blank" aria-label="Facebook"><i class="icon-facebook"></i></a></li>
                                    <li><a href="https://www.pinterest.com/termsfeed" rel="nofollow noopener" target="_blank" aria-label="Pinterest"><i class="icon-pinterest"></i></a></li>
                                    <li><a href="https://www.youtube.com/c/termsfeed" rel="nofollow noopener" target="_blank" aria-label="YouTube"><i class="icon-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Elements -->

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">
                    &copy; 2020 ModularHistory, Inc.
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        {% endblock %}

        {% modal %}
    </body>
    {% block scripts %}{% endblock %}
</html>
