<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Your Business</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--# if expr="$status = 502" -->
      <meta http-equiv="refresh" content="5">
    <!--# endif -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link href="/static/styles/error.css" rel="stylesheet">
</head>
<body>
    <div id="error">
        <div class="error">
            <div class="error-content">
                <!--# if expr="$status = 502" -->
                    <h1>ModularHistory is being updated</h1>
                    <p>You will be redirected in a few seconds...</p>
                    <!--# else -->
                    <h1><!--# echo var="status" default="" --></h1>
                    <h2><!--# echo var="status_text" default="An error occurred" --></h2>
                <!--# endif -->
            </div>
        </div>
    </div>
</body>
</html>
