{% extends 'base.htm' %}
{% load entity_card %}
{% load occurrence_card %}
{% load occurrence_detail %}
{% load quote_card %}
{% load quote_detail %}
{% load topic_card %}
{% load topic_detail %}
{% load image_card %}
{% load image_detail %}
{% load source_card %}
{% load source_detail %}
{% load class_name %}
{% load is_instance %}
{% load crispy_forms_tags %}

{% block styles %}
    {{ search_filter_form.media.css }}
{% endblock %}

{% block scripts %}
    {{ search_filter_form.media.js }}
{% endblock %}

{% block content %}
{#    <div class="top">#}
{#    </div>#}
    {% block list %}
        {% if object_list|length %}
            <div class="refinements-container side">
                <!-- Material input -->
                {% crispy search_filter_form %}
            </div>
            <div class="two-pane-container">
                {% block page_header %}
                {% endblock %}
                <div class="results">
                    {% for object in object_list %}
                        {% with object|class_name as klass %}
                            {% if object|is_instance:"occurrences.Occurrence" %}
                                {% occurrence_card object %}
                            {% elif object|is_instance:"topics.Topic" %}
                                {% topic_card object %}
                            {% elif object|is_instance:"quotes.Quote" %}
                                {% quote_card object %}
                            {% elif object|is_instance:"images.Image" %}
                                {% image_card object %}
                            {% elif object|is_instance:"sources.Source" %}
                                {% source_card object %}
                            {% else %}
                                <a href='{{ object.get_absolute_url }}'>{{ object }}</a> | {{ object|class_name }}
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <div class="card p-3 view-detail sticky">
                    {% with object_list|first as object %}
                        {% if object|is_instance:"occurrences.Occurrence" %}
                            {% occurrence_detail object %}
                        {% elif object|is_instance:"topics.Topic" %}
                            {% topic_detail object %}
                        {% elif object|is_instance:"quotes.Quote" %}
                            {% quote_detail object %}
                        {% elif object|is_instance:"images.Image" %}
                            {% image_detail object %}
                        {% else %}
                            <a href='{{ object.get_absolute_url }}'>{{ object }}</a> | {{ object|class_name }}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        {% else %}
            <div class='row'>
                <div class='col-12 col-md-6 mx-auto my-5 py-5'>
                    <form method='GET' class='' action='home'>
                        <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
                        <span class="input-group-addon cfe-nav" style='color:#000'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                            <input type="text" name="q" data-toggle="popover" data-placement="bottom" data-content="Press enter to search" class="form-control cfe-nav mt-0 py-3" placeholder="Search..." value="" style="" data-original-title="" title="" autofocus="autofocus">
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% if page_obj.has_previous or page_obj.has_next %}
        <div class="pagination" style="text-align: center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% if query %}query={{ query }}&{% endif %}page=1">
                        &laquo; first
                    </a>
                    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">
                        previous
                    </a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.next_page_number }}">
                        next
                    </a>
                    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}">
                        last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}