{% extends 'base.htm' %}
{% load entity_card %}
{% load occurrence_card %}
{% load occurrence_detail %}
{% load quote_card %}
{% load quote_detail %}
{% load topic_card %}
{% load topic_detail %}
{% load image_card %}
{% load image_detail %}
{% load source_card %}
{% load source_detail %}
{% load class_name %}
{% load is_instance %}
{% load crispy_forms_tags %}

{% block styles %}
    {{ search_filter_form.media.css }}
{% endblock %}

{% block scripts %}
    {{ search_filter_form.media.js }}
{% endblock %}

{% block content %}
    <div class="serp-container">
        {% block list %}
            {% if object_list|length %}
                <div id="slider" class="refinements-container side closed">
                    {% crispy search_filter_form %}
                </div>
                <button id="sliderToggle" class="toggle-button btn btn-md btn-outline-black">
                    <i class="fas fa-filter"></i>
                </button>
                <div class="results-container">
                    {% block page_header %}
                    {% endblock %}
                    {% with display_option=request.GET.display %}
                        <div class="display-options">
                            {% with selected_option=display_option %}
                                <span class="display-option">
                                <input type="radio" id="2pane-option" name="display" value="2pane"
                                        {% if selected_option == '2pane' %} checked{% endif %} />
                                <label for="2pane-option"><i class="fas fa-list"></i></label>
                            </span>
                                <span class="display-option">
                                <input type="radio" id="rows-option" name="display" value="rows"
                                        {% if selected_option == 'rows' or not selected_option %} checked{% endif %} />
                                <label for="rows-option"><i class="fas fa-bars"></i></label>
                            </span>
                                <span class="display-option">
                                <input type="radio" id="timeline-option" name="display" value="timeline"
                                        {% if selected_option == 'timeline' %} checked{% endif %} />
                                <label for="timeline-option"><i class="fas fa-columns"></i></label>
                            </span>
                            {% endwith %}
                        </div>
                        {% if display_option == '2pane' %}
                            <div class="two-pane-container">
                                <div class="results result-cards">
                                    {% for object in object_list %}
                                        {% with object|class_name as klass %}
                                            {% if object|is_instance:"occurrences.Occurrence" %}
                                                {% occurrence_card object %}
                                            {% elif object|is_instance:"topics.Topic" %}
                                                {% topic_card object %}
                                            {% elif object|is_instance:"quotes.Quote" %}
                                                {% quote_card object %}
                                            {% elif object|is_instance:"images.Image" %}
                                                {% image_card object %}
                                            {% elif object|is_instance:"sources.Source" %}
                                                {% source_card object %}
                                            {% else %}
                                                <a href='{{ object.get_absolute_url }}'>{{ object }}</a>
                                                | {{ object|class_name }}
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                                <div class="card view-detail sticky">
                                    {% with object_list|first as object %}
                                        {% if object|is_instance:"occurrences.Occurrence" %}
                                            {% occurrence_detail object %}
                                        {% elif object|is_instance:"topics.Topic" %}
                                            {% topic_detail object %}
                                        {% elif object|is_instance:"quotes.Quote" %}
                                            {% quote_detail object %}
                                        {% elif object|is_instance:"images.Image" %}
                                            {% image_detail object %}
                                        {% else %}
                                            <a href='{{ object.get_absolute_url }}'>{{ object }}</a> | {{ object|class_name }}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% elif not display_option or display_option == 'rows' %}
                            <div class="results">
                                {% for object in object_list %}
                                    <div class="result" data-key="{{ object.key }}">
                                        {% with object|class_name as klass %}
                                            {% if object|is_instance:"occurrences.Occurrence" %}
                                                {% occurrence_detail object %}
                                            {% elif object|is_instance:"quotes.Quote" %}
                                                {% quote_detail object %}
                                            {% elif object|is_instance:"images.Image" %}
                                                {% image_detail object %}
                                            {% elif object|is_instance:"sources.Source" %}
                                                {% source_detail object %}
                                            {% else %}
                                                <a href='{{ object.get_absolute_url }}'>{{ object }}</a> | {{ object|class_name }}
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            {% else %}
                <div class='row'>
                    <div class='col-12 col-md-6 mx-auto my-5 py-5'>
                        <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'search' %}">
                            <div class="input-group">
                                <input name="query" class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
    {% if page_obj.has_previous or page_obj.has_next %}
        <div class="pagination" style="text-align: center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% if query %}query={{ query }}&{% endif %}page=1">
                        &laquo; first
                    </a>
                    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">
                        previous
                    </a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.next_page_number }}">
                        next
                    </a>
                    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}">
                        last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}