td.field-source {
  max-width: 600px;
  .related-widget-wrapper {
    float: none;
  }
}

// Admin table styles

#changelist {
  .results {
    li.topic-tag {
      list-style: none;
      ::after {
        content: ",";
      }
    }
  }
}