@import "generic";
@import "mce.scss";

$label-width: 160px;

.nimbus-is-editor {
  #container {
    #header {
      background-color: #2B3746 !important;
      color: white !important;
    }
  }
}

.form-row > div > .mce-tinymce.mce-container.mce-panel {
  margin-left: $label-width !important;
  max-width: 80vw !important;
}

td.field-source {
  max-width: 600px;
  .related-widget-wrapper {
    float: none;
  }
}

// Admin table styles

#changelist {
  .results {
    li.topic-tag {
      list-style: none;
      ::after {
        content: ",";
      }
    }
  }
}