@import "generic";
@import "mce.scss";

$label-height: 2rem;

.nimbus-is-editor {
  #container {
    #header {
      background-color: #2b3746 !important;
      color: white !important;
    }
  }
}

// Indent nested inlines
tr:not(.has_original) > td.djn-td {
  padding-left: 3rem;
  padding-right: 3rem;
}
// Demarcate nested inline admins
tbody.djn-tbody.has_original {
  border-bottom: 3px solid lightgray;
}
// Hide overlapping text from multiple paragraphs
// in string representations of associations in inline admins.
.djn-tr > td.original {
  > p:nth-child(n + 3) {
    display: none;
  }
  > p:nth-child(-n + 2) {
    padding-bottom: 1.4rem;
    &:nth-child(2) {
      margin-left: 1rem;
    }
  }
}

div.readonly {
  white-space: pre;
}

.form-row > div {
  position: relative;
  > label {
    z-index: 10;
  }
}

td.field-source {
  max-width: 600px;
  .related-widget-wrapper {
    float: none;
  }
}

#header ul#navigation-menu li {
  margin-top: 0;
  margin-bottom: 0;
  ul {
    background-color: #f8f8f8;
  }
}

#changelist-filter {
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Admin table styles

#changelist {
  .results {
    li.topic-tag {
      list-style: none;
      ::after {
        content: ",";
      }
    }
  }
}

.inlinechangelink {
  font-size: 0.7rem;
}

.trumbowyg-box {
  display: inline-block;
  margin: 0;
  width: inherit;
}

.trumbowyg-button-pane {
  margin: 0 !important;
  padding: 0 !important;
}

.trumbowyg-editor.trumbowyg-reset-css p, .trumbowyg-editor.trumbowyg-reset-css blockquote {
  padding: 0 !important;
}

.trumbowyg-modal-box label {
  float: none;
  padding: 0;
  width: auto;
}

.trumbowyg-button-pane li button.trumbowyg-video-button {
  background-position: 5px -520px
}

.trumbowyg-box, .trumbowyg-editor { min-height: 150px }; 
