.nowrap {
  white-space: nowrap; }

.hidden {
  display: none; }

[data-toggle="collapse"][aria-expanded="true"] .fa-chevron-circle-down {
  display: none; }

.collapsed[data-toggle="collapse"] .fa-chevron-circle-up {
  display: none; }

.highlighted {
  background-color: rgba(255, 183, 183, 0.9); }

.select2-container {
  min-width: 100%;
  max-width: 100%; }

img {
  max-width: 100%; }

.lazy-bg {
  background-image: url("/static/img-placeholder.jpg"); }

.img-container {
  float: right;
  clear: right;
  max-width: 49%;
  margin-left: 0.9rem;
  margin-bottom: 0.8rem; }

span.deleted {
  text-decoration: line-through; }

figcaption {
  font-size: 0.8rem; }

h3,
h4,
h5 {
  margin-top: 1rem; }
  h3:first-child,
  h4:first-child,
  h5:first-child {
    margin-top: 0; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem; }

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2rem; }

iframe {
  max-width: 100%; }

blockquote.blockquote {
  border-left: 0.75rem solid #eceeef;
  padding: 0 1.5rem;
  font-size: 0.9rem; }
  blockquote.blockquote p {
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    padding: 0; }
  blockquote.blockquote > blockquote {
    border-left: none;
    font-size: 0.8rem; }
    blockquote.blockquote > blockquote p {
      font-size: 0.8rem; }

form ul {
  list-style: none;
  padding-left: 0; }
  form ul li {
    list-style: none;
    font-size: 0.8rem; }

.flex-gallery {
  display: flex;
  flex-wrap: wrap; }

.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto auto;
  justify-content: center; }

.flexbox-holy-albatross {
  display: flex;
  flex-wrap: wrap;
  --multiplier: calc(300px - 100%);
  --horizontal-margin: 1rem;
  margin-left: calc(var(--horizontal-margin) * -1);
  margin-right: calc(var(--horizontal-margin) * -1); }
  .flexbox-holy-albatross > * {
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
    min-width: 33%;
    flex-grow: 1;
    flex-basis: calc(var(--multiplier) * 999); }
    .flexbox-holy-albatross > *.block {
      flex-basis: 100%; }

.nowrap {
  white-space: nowrap; }

.hidden {
  display: none; }

[data-toggle="collapse"][aria-expanded="true"] .fa-chevron-circle-down {
  display: none; }

.collapsed[data-toggle="collapse"] .fa-chevron-circle-up {
  display: none; }

.highlighted {
  background-color: rgba(255, 183, 183, 0.9); }

.select2-container {
  min-width: 100%;
  max-width: 100%; }

img {
  max-width: 100%; }

.lazy-bg {
  background-image: url("/static/img-placeholder.jpg"); }

.img-container {
  float: right;
  clear: right;
  max-width: 49%;
  margin-left: 0.9rem;
  margin-bottom: 0.8rem; }

span.deleted {
  text-decoration: line-through; }

figcaption {
  font-size: 0.8rem; }

h3,
h4,
h5 {
  margin-top: 1rem; }
  h3:first-child,
  h4:first-child,
  h5:first-child {
    margin-top: 0; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem; }

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2rem; }

iframe {
  max-width: 100%; }

blockquote.blockquote {
  border-left: 0.75rem solid #eceeef;
  padding: 0 1.5rem;
  font-size: 0.9rem; }
  blockquote.blockquote p {
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    padding: 0; }
  blockquote.blockquote > blockquote {
    border-left: none;
    font-size: 0.8rem; }
    blockquote.blockquote > blockquote p {
      font-size: 0.8rem; }

form ul {
  list-style: none;
  padding-left: 0; }
  form ul li {
    list-style: none;
    font-size: 0.8rem; }

.flex-gallery {
  display: flex;
  flex-wrap: wrap; }

.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto auto;
  justify-content: center; }

.flexbox-holy-albatross {
  display: flex;
  flex-wrap: wrap;
  --multiplier: calc(300px - 100%);
  --horizontal-margin: 1rem;
  margin-left: calc(var(--horizontal-margin) * -1);
  margin-right: calc(var(--horizontal-margin) * -1); }
  .flexbox-holy-albatross > * {
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
    min-width: 33%;
    flex-grow: 1;
    flex-basis: calc(var(--multiplier) * 999); }
    .flexbox-holy-albatross > *.block {
      flex-basis: 100%; }

.image-card .card-text {
  font-size: 0.8rem; }

.image-card .image-credit {
  display: block;
  font-size: 0.6rem;
  line-height: 0.8rem; }

.mask.rgba-white-slight {
  display: none; }

.nimbus-is-editor #container #header {
  background-color: #2b3746 !important;
  color: white !important; }

tr:not(.has_original) > td.djn-td {
  padding-left: 3rem;
  padding-right: 3rem; }

tbody.djn-tbody.has_original {
  border-bottom: 3px solid lightgray; }

.djn-tr > td.original > p:nth-child(n + 3) {
  display: none; }

.djn-tr > td.original > p:nth-child(-n + 2) {
  padding-bottom: 1.4rem; }
  .djn-tr > td.original > p:nth-child(-n + 2):nth-child(2) {
    margin-left: 1rem; }

div.readonly {
  white-space: pre; }

.form-row > div {
  position: relative; }
  .form-row > div > label {
    z-index: 10; }

td.field-source {
  max-width: 600px; }
  td.field-source .related-widget-wrapper {
    float: none; }

#header ul#navigation-menu li {
  margin-top: 0;
  margin-bottom: 0; }
  #header ul#navigation-menu li ul {
    background-color: #f8f8f8; }

#changelist-filter li {
  margin-top: 0;
  margin-bottom: 0; }

#changelist .results li.topic-tag {
  list-style: none; }
  #changelist .results li.topic-tag ::after {
    content: ","; }

.inlinechangelink {
  font-size: 0.7rem; }

.trumbowyg-box {
  display: inline-block;
  margin: 0;
  width: inherit; }

.trumbowyg-button-pane {
  margin: 0 !important;
  padding: 0 !important; }

.trumbowyg-editor.trumbowyg-reset-css p, .trumbowyg-editor.trumbowyg-reset-css blockquote {
  padding: 0 !important; }

.trumbowyg-modal-box label {
  float: none;
  padding: 0;
  width: auto; }

.trumbowyg-button-pane li button.trumbowyg-video-button {
  background-position: 5px -520px; }

.trumbowyg-box, .trumbowyg-editor {
  min-height: 150px; }

/*# sourceMappingURL=admin.css.map */