.nowrap {
  white-space: nowrap; }

.hidden {
  display: none; }

[data-toggle="collapse"][aria-expanded="true"] .fa-chevron-circle-down {
  display: none; }

[data-toggle="collapse"].collapsed .fa-chevron-circle-up {
  display: none; }

.highlighted {
  background-color: rgba(255, 183, 183, 0.9); }

.select2-container {
  min-width: 100%;
  max-width: 100%; }

img {
  max-width: 100%; }

.lazy-bg {
  background-image: url("/static/img-placeholder.jpg"); }

.img-container {
  float: right;
  clear: right;
  max-width: 49%;
  margin-left: 0.9rem;
  margin-bottom: 0.8rem; }

span.deleted {
  text-decoration: line-through; }

figcaption {
  font-size: 0.8rem; }

h3,
h4,
h5 {
  margin-top: 1rem; }
  h3:first-child,
  h4:first-child,
  h5:first-child {
    margin-top: 0; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem; }

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2rem; }

iframe {
  max-width: 100%; }

blockquote.blockquote {
  border-left: 0.75rem solid #eceeef;
  padding: 0 1.5rem;
  font-size: 0.9rem; }
  blockquote.blockquote p {
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    padding: 0; }
  blockquote.blockquote > blockquote {
    border-left: none;
    font-size: 0.8rem; }
    blockquote.blockquote > blockquote p {
      font-size: 0.8rem; }

form ul {
  list-style: none;
  padding-left: 0; }
  form ul li {
    list-style: none;
    font-size: 0.8rem; }

.flex-gallery {
  display: flex;
  flex-wrap: wrap; }

.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto auto;
  justify-content: center; }

.flexbox-holy-albatross {
  display: flex;
  flex-wrap: wrap;
  --multiplier: calc(300px - 100%);
  --horizontal-margin: 1rem;
  margin-left: calc(var(--horizontal-margin) * -1);
  margin-right: calc(var(--horizontal-margin) * -1); }
  .flexbox-holy-albatross > * {
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
    min-width: 33%;
    flex-grow: 1;
    flex-basis: calc(var(--multiplier) * 999); }
    .flexbox-holy-albatross > *.block {
      flex-basis: 100%; }

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; } }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }

.carousel .carousel-inner {
  height: 100%; }

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #1c2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331; }

/* Safari 11+ */
.view-detail {
  text-align: left;
  overflow-y: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none; }
  .view-detail::-webkit-scrollbar {
    display: none; }
  .view-detail p > iframe {
    margin-left: auto;
    margin-right: auto; }
  .view-detail .card.image-card .card-text {
    font-size: 0.8rem; }
  .view-detail .card.image-card .image-credit {
    display: block;
    font-size: 0.6rem;
    line-height: 0.8rem;
    float: right; }
  .view-detail .card .card-title {
    display: none; }
  .view-detail .footer {
    clear: both;
    font-size: 0.9rem;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 5px solid whitesmoke; }
    .view-detail .footer.sources-footer .source {
      clear: both;
      margin-bottom: 1rem; }

.serp-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .serp-container #sliderToggle {
    position: fixed;
    top: 15vh;
    font-size: 1rem;
    box-shadow: none;
    border-left: none !important;
    background-color: whitesmoke !important;
    margin-left: 0;
    z-index: 3; }
    @media only screen and (max-width: 660px) {
      .serp-container #sliderToggle {
        font-size: 0.7rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem; } }
  .serp-container .display-options {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25vh; }
    .serp-container .display-options label {
      margin: 0; }

.refinements-container#slider {
  -webkit-transform: none;
  transform: none;
  transition: transform 70ms linear;
  will-change: transform;
  border-right: 2px solid black;
  z-index: 2; }
  .refinements-container#slider.closed {
    min-width: 0;
    width: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform 70ms linear; }

.refinements-container.side {
  width: 15%;
  min-width: 200px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  display: inline-block;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: whitesmoke;
  max-height: 100vh;
  overflow-y: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none; }
  .refinements-container.side::-webkit-scrollbar {
    display: none; }

.refinements-container .select2.select2-container {
  width: 100% !important; }
  .refinements-container .select2.select2-container ul.select2-selection__rendered {
    padding: 0; }
    .refinements-container .select2.select2-container ul.select2-selection__rendered li.select2-search.select2-search--inline {
      margin-top: 0; }
  .refinements-container .select2.select2-container .select2-selection__choice,
  .refinements-container .select2.select2-container input.select2-search__field {
    margin: 2px 2px 0 2px; }
  .refinements-container .select2.select2-container input.select2-search__field {
    margin-bottom: 2px; }

.results-container {
  flex: 1;
  vertical-align: top;
  text-align: center; }
  .results-container .view-detail {
    display: inline-block;
    width: 60%;
    max-width: 44rem;
    height: 100vh;
    max-height: 100vh;
    /* Sticky position */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 2rem; }
    @media only screen and (max-width: 660px) {
      .results-container .view-detail {
        display: none; } }
  .results-container .results {
    padding: 5rem 5rem 1rem 5rem;
    text-align: left; }
    @media only screen and (max-width: 660px) {
      .results-container .results {
        width: unset; } }
    .results-container .results .result {
      clear: both;
      margin-top: 2rem; }
    .results-container .results.result-cards {
      padding: 0;
      width: 20%;
      min-width: 15rem;
      display: inline-block;
      vertical-align: top; }
      .results-container .results.result-cards .result.active .card {
        box-shadow: inset 2px 1px 1px 1px black, inset 2px -1px 1px 1px black; }
        .results-container .results.result-cards .result.active .card > .img-bg {
          box-shadow: inset 1px 1px 1px 1px black, inset 1px -1px 1px 1px black;
          opacity: 0.7; }

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.source a.source-title {
  color: #050505; }
  .source a.source-title:hover {
    color: black; }

.display-options {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden; }

.display-options input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden; }

.display-options label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out; }

.display-options label:hover {
  cursor: pointer; }

.display-options input:checked + label {
  background-color: gray;
  color: white;
  box-shadow: none; }

.display-options label:first-of-type {
  border-radius: 4px 0 0 4px; }

.display-options label:last-of-type {
  border-radius: 0 4px 4px 0; }

html,
body {
  height: 100%;
  width: 100%; }

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1; }
  .main-content > .container {
    margin-top: 1.5rem; }

.embed-responsive-210by297 {
  padding-bottom: 141.42%; }

#global-nav {
  margin-bottom: 0; }
  #global-nav .avatar {
    margin-top: auto;
    margin-bottom: auto; }
  #global-nav.navbar-dark.bg-dark .nav-item a,
  #global-nav.navbar-dark.bg-dark .nav-link {
    color: rgba(255, 255, 255, 0.6); }
    #global-nav.navbar-dark.bg-dark .nav-item a.active,
    #global-nav.navbar-dark.bg-dark .nav-link.active {
      color: white; }
  #global-nav.navbar-dark.bg-dark .dropdown-menu.show {
    background-color: #343a40;
    border-top: none; }
    #global-nav.navbar-dark.bg-dark .dropdown-menu.show a.dropdown-item {
      color: rgba(255, 255, 255, 0.6) !important; }
      #global-nav.navbar-dark.bg-dark .dropdown-menu.show a.dropdown-item:hover {
        color: white !important;
        background-color: #343a40; }

.tooltip-inner {
  max-width: 90%; }

span.date {
  display: inline-block;
  white-space: nowrap; }

div.detail {
  position: relative; }

.footer-links a {
  display: inline-block;
  margin: 0.5rem 1rem; }

@media only screen and (max-width: 575px) {
  #collapsibleNavbar {
    background-color: inherit;
    z-index: 4;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px; }
    #collapsibleNavbar .avatar {
      margin-top: 0.5rem; } }

.edit-object-button {
  display: none; }

.citation .fa,
.citation .fab,
.citation .fas {
  margin-left: 0.5rem; }

.img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-position: center;
  background-size: cover; }

.url {
  overflow-wrap: break-word;
  word-wrap: break-word; }

.card,
.row {
  position: relative; }
  .card.image-card,
  .row.image-card {
    display: inline-block; }
    .card.image-card .image-credit,
    .row.image-card .image-credit {
      font-size: 0.6rem; }
    .card.image-card .card-body,
    .row.image-card .card-body {
      font-size: 0.9rem;
      padding-top: 1rem !important;
      padding-bottom: 0 !important; }
  .card .edit-object-button,
  .row .edit-object-button {
    clear: right;
    position: absolute;
    right: 2px;
    top: 2px; }
  .card .blockquote .edit-object-button,
  .card .blockquote > footer .edit-object-button,
  .row .blockquote .edit-object-button,
  .row .blockquote > footer .edit-object-button {
    position: static;
    float: right; }

ul.tags {
  padding: 0; }
  ul.tags li.topic-tag {
    list-style: none;
    font-size: 0.6rem;
    background-color: rgba(255, 255, 153, 0.8);
    margin: 2px;
    padding: 4px;
    display: inline; }

ul.timeline {
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 30px; }
  ul.timeline ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  ul.timeline ul::after {
    content: "";
    display: block;
    clear: both; }
  ul.timeline ul .year {
    color: #ffd402;
    background: #3f444c;
    display: block;
    position: relative;
    padding-left: 24px;
    line-height: 24px;
    font-weight: bold;
    font-size: 18px; }
  ul.timeline ul .year::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: #ffd402;
    border-radius: 50%;
    left: -24px;
    top: calc((40 - 24) / 2 * -1px); }
  ul.timeline ul .year.new {
    border-radius: 0 24px 24px 0; }
  ul.timeline ul .year.new::after {
    content: "";
    width: 5px;
    height: 5px;
    display: block;
    box-sizing: border-box;
    border: 20px solid #3f444c;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: -30px;
    top: -9.5px; }
  ul.timeline ul .content {
    border-left: 8px solid #ffd402;
    margin-left: -8px;
    padding: 15px 0;
    padding-right: 24px; }
  ul.timeline ul .content > li {
    padding-left: 20px;
    border-bottom: 4px solid #eef4f7;
    padding-bottom: 8px;
    position: relative;
    margin-left: -8px; }
  ul.timeline ul .content > li:last-of-type {
    border-bottom: 0;
    padding-bottom: 0; }
  ul.timeline ul .content > li::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #eef4f7;
    left: 2px;
    top: 8px; }

ul.timeline > li {
  width: calc(100% / 6); }

ul.timeline > li:nth-of-type(odd) > .content {
  -webkit-transform: translateY(calc(-100% - 24px));
  transform: translateY(calc(-100% - 24px)); }

@media screen and (max-width: 1140px) {
  ul.timeline > li {
    width: calc(100% / 4); } }

@media screen and (max-width: 991px) {
  ul.timeline > li {
    width: calc(100% / 2); }
  div.rpv-default-layout__sidebar.rpv-default-layout__sidebar--ltr {
    display: hidden !important; } }

@media screen and (max-width: 767px) {
  ul.timeline {
    display: block; }
  ul.timeline > li {
    width: 100%; }
  ul.timeline > li:nth-of-type(odd) .content {
    -webkit-transform: none;
    transform: none; } }

/*# sourceMappingURL=base.css.map */