@import "generic";
@import "mdb";
@import "serp";

@mixin mobileNavbar {
  @media only screen and (max-width: 575px) {
    @content
  }
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  position: relative;
  flex: 1;
  >.container {
    margin-top: 1.5rem;
  }
}

.embed-responsive-210by297 {
  padding-bottom: 141.42%;
}

#global-nav {
  margin-bottom: 0;  // Set margin-top on main content, instead.
  .avatar {
    margin-top: auto;
    margin-bottom: auto;
  }
}

#collapsibleNavbar {
  @include mobileNavbar {
    background-color: inherit;
    z-index: 4;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    .avatar {
      margin-top: 0.5rem;
    }
  }
}

.edit-object-button {
  display: none;
}

.citation {
  .fa, .fab, .fas {
    margin-left: 0.5rem;
  }
}

.img-container {
  float:right;
  clear: right;
  max-width:44%;  // or 300px
  margin-left: 0.9rem;
  margin-bottom: 0.8rem;
}

.img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

.card, .row {
  position: relative;
  &.image-card {
    display: inline-block;
    .image-credit {
      font-size: 0.6rem;
    }
    .card-body {
      font-size: 0.9rem;
      padding-top: 1rem !important;
      padding-bottom: 0 !important;
    }
  }
  .edit-object-button {
    clear: right;
    position: absolute;
    right: 2px;
    top: 2px;
  }
  .blockquote, .blockquote > footer {
    .edit-object-button {
      position: static;
      float: right;
    }
  }
}

ul.tags {
  padding: 0;
  li.topic-tag {
    list-style: none;
    font-size: 0.6rem;
    background-color: rgba(255, 255, 153, 0.8);
    margin: 2px;
    padding: 4px;
    display: inline;
  }
}
