.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

[data-toggle="collapse"][aria-expanded="true"] .fa-chevron-circle-down {
  display: none;
}
[data-toggle="collapse"].collapsed .fa-chevron-circle-up {
  display: none;
}

.highlighted {
  background-color: rgba(255, 183, 183, 0.9);
}

.select2-container {
  min-width: 100%;
  max-width: 100%;
}

img {
  max-width: 100%;
}

.lazy-bg {
  background-image: url("/static/img-placeholder.jpg");
}

.img-container {
  float: right;
  clear: right;
  max-width: 49%; // or 300px
  margin-left: 0.9rem;
  margin-bottom: 0.8rem;
}

span.deleted {
  text-decoration: line-through;
}

figcaption {
  font-size: 0.8rem;
}

h3,
h4,
h5 {
  margin-top: 1rem;
  &:first-child {
    margin-top: 0;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}

iframe {
  max-width: 100%;
}

blockquote {
  &.blockquote {
    border-left: 0.75rem solid #eceeef;
    padding: 0 1.5rem;
    font-size: 0.9rem;
    p {
      font-size: 0.9rem;
      margin-bottom: 0.7rem;
      padding: 0;
    }
    > blockquote {
      border-left: none;
      font-size: 0.8rem;
      p {
        font-size: 0.8rem;
      }
    }
  }
}

form {
  ul {
    list-style: none;
    padding-left: 0;
    li {
      list-style: none;
      font-size: 0.8rem;
    }
  }
}

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.flexbox-holy-albatross {
  display: flex;
  flex-wrap: wrap;
  --multiplier: calc(300px - 100%);
  --horizontal-margin: 1rem;
  margin-left: calc(var(--horizontal-margin) * -1);
  margin-right: calc(var(--horizontal-margin) * -1);
  > * {
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
    min-width: 33%;
    flex-grow: 1;
    flex-basis: calc(var(--multiplier) * 999);
    &.block {
      flex-basis: 100%;
    }
  }
}
