.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.lazy-bg {
  background-image: url("/static/img-placeholder.jpg");
}

span.deleted {
  text-decoration: line-through;
}

figcaption {
  font-size: 0.8rem;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}

iframe {
  max-width: 100%;
}

blockquote {
  &.blockquote {
    border-left: 0.75rem solid #eceeef;
    padding: 0 1.5rem;
    font-size: 0.9rem;
    p {
      font-size: 0.9rem;
      margin-bottom: 0.7rem;
      padding: 0;
    }
    >blockquote {
      border-left: none;
      font-size: 0.8rem;
      p {
        font-size: 0.8rem;
      }
    }
  }
}

form {
  ul {
    list-style: none;
    padding-left: 0;
    li {
      list-style: none;
      font-size: 0.8rem;
    }
  }
}

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}