// Your custom styles

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px;
  }
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%;
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
  background-color: #1c2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331;
}

//#footer {
//  flex-shrink: 0;
//  /* position: relative;
//  margin-top: -4rem; //negative value of footer height
//  height: 4rem; */
//  clear: both;
//  text-align: center;
//}

// #main-nav {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 50px;
// }
// #main {
//   flex: 1 0 auto;
// }
// #footer .container {
//   padding: 1rem;
//   display: table;
//   vertical-align: middle;
//   border-top: 1px solid lightgray;
// }
// .copyright, .privacy-and-terms, .back-to-top {
//   display: table-cell;
//   vertical-align: middle;
//   width: 33.33%;
// }

// .navbar {
//     margin-bottom: 0;
//     border-radius: 0;
// }
// #navbar-logo {
//     z-index: 100;
// }
// .btn-danger {
//     background-color: #A91826 !important;
// }
// .text-danger {
//     color: #A91826 !important;
// }
// .panel-title a {
//     display: block;
// }
// .btn span.glyphicon {
//     position: relative;
//     top: 3px;
// }

// .helptext ul {
//     list-style: circle;
// }

// input[type="tel"], input[type="date"], input[type="password"] {
//   height: 34px;
//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 1.42857143;
//   color: #555;
//   background-color: #fff;
//   background-image: none;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
//   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
// }

// ul#main-menu {
//     margin-left: 6px;
//     position: relative;
//     top: -1px;
// }
// ul#main-menu li:first-child a {
//     border-left: 1px solid #A91826;
//     /* border-bottom: 6px solid transparent; */
//     border-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
//     border-image-slice: 1;
// }
// ul#main-menu li:hover {
//     background-color: rgba(0,0,0,0.2);
// }
// ul#main-menu li a {
//     border-right: 1px solid #A91826;
//     border-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
//     border-image-slice: 1;
//     padding-left: 2rem;
//     padding-right: 2rem;
//     z-index: 3;
// }

//.overlay {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  height: 100%;
//  width: 100%;
//  opacity: 0;
//  transition: .5s ease;
//  background-color: black;
//}
//.overlay-content {
//  color: white;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  height: 100%;
//  width: 100%;
//  position: absolute;
//}
