$slideout-transition-duration: 70ms;
$refinements-container-bg-color: whitesmoke;

@mixin mobile {
  @media only screen and (max-width: 660px) {
    @content;
  }
}

/* Safari 11+ */
@mixin safari {
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      @content;
    }
  }
}

.view-detail {
  text-align: left;
  overflow-y: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  p {
    > iframe {
      margin-left: auto; // doesn't work; using iframe align attribute instead
      margin-right: auto; // doesn't work; using iframe align attribute instead
    }
  }
  .card {
    &.image-card {
      .card-text {
        font-size: 0.8rem;
      }
      .image-credit {
        display: block;
        font-size: 0.6rem;
        line-height: 0.8rem;
        float: right;
      }
    }
    .card-title {
      display: none;
    }
  }
  .footer {
    clear: both;
    font-size: 0.9rem;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 5px solid whitesmoke;
    &.sources-footer {
      .source {
        clear: both;
        margin-bottom: 1rem;
      }
    }
  }
}

.serp-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  //overflow-x: scroll;
  #sliderToggle {
    position: fixed;
    top: 15vh;
    font-size: 1rem;
    box-shadow: none;
    border-left: none !important;
    background-color: $refinements-container-bg-color !important;
    margin-left: 0;
    z-index: 3;
    @include mobile {
      font-size: 0.7rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }
  }
  .display-options {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25vh;
    label {
      margin: 0;
    }
  }
}

.refinements-container {
  &#slider {
    &.closed {
      min-width: 0;
      width: 0;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      transition: transform $slideout-transition-duration linear;
    }
    -webkit-transform: none;
    transform: none;
    transition: transform $slideout-transition-duration linear;
    will-change: transform;
    border-right: 2px solid black;
    z-index: 2;
  }
  &.side {
    width: 15%;
    min-width: 200px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: $refinements-container-bg-color;
    max-height: 100vh;
    overflow-y: scroll;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
  }
  .select2.select2-container {
    width: 100% !important;
    ul.select2-selection__rendered {
      padding: 0;
      li.select2-search.select2-search--inline {
        margin-top: 0;
      }
    }
    .select2-selection__choice,
    input.select2-search__field {
      margin: 2px 2px 0 2px;
    }
    input.select2-search__field {
      margin-bottom: 2px;
    }
  }
}

.results-container {
  flex: 1;
  vertical-align: top;
  text-align: center;
  .view-detail {
    @include mobile {
      display: none;
    }
    display: inline-block;
    width: 60%;
    max-width: 44rem;
    height: 100vh;
    max-height: 100vh;
    /* Sticky position */
    position: -webkit-sticky; // Safari
    position: sticky;
    top: 0;
    padding: 2rem;
  }
  .results {
    @include mobile {
      width: unset;
    }
    padding: 5rem 5rem 1rem 5rem;
    text-align: left;
    .result {
      clear: both;
      margin-top: 2rem;
    }
    &.result-cards {
      padding: 0;
      width: 20%;
      min-width: 15rem;
      display: inline-block;
      vertical-align: top;
      .result {
        &.active {
          .card {
            box-shadow: inset 2px 1px 1px 1px black,
              inset 2px -1px 1px 1px black;
            > .img-bg {
              box-shadow: inset 1px 1px 1px 1px black,
                inset 1px -1px 1px 1px black;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.source {
  a.source-title {
    color: #050505;
    &:hover {
      color: black;
    }
  }
}

.display-options {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.display-options input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.display-options label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.display-options label:hover {
  cursor: pointer;
}

.display-options input:checked + label {
  background-color: gray;
  color: white;
  box-shadow: none;
}

.display-options label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.display-options label:last-of-type {
  border-radius: 0 4px 4px 0;
}
