{% load model_urls %}

<div class="container">
    
    <h1>
        {{ proposition.summary|safe }}
    </h1>

    {% if proposition.supportive_propositions.exists %}
        <ul class="list-group my-5">
            {% for supportive_proposition in proposition.supportive_propositions.all %}
                <li class="list-group-item">
                    {{ supportive_proposition.summary_link|safe }}
                </li>
            {% endfor %}
            <li class="list-group-item active">
                {{ proposition.summary|safe }}
            </li>
        </ul>
    {% endif %}

    {% if proposition.elaboration %}
    <div>
        {{ proposition.elaboration.html|safe }}
    </div>
    {% endif %}
</div>

<a class="edit-object-button" target="_blank" rel="noopener noreferrer" href="{{ proposition|get_admin_url }}"><i class="fa fa-edit"></i></a>
