{% load model_urls %}

<div class="container">
    
    <h1>
        {{ postulation.summary|safe }}
    </h1>

    {% if postulation.supportive_postulations.exists %}
        <ul class="list-group my-5">
            {% for supportive_postulation in postulation.supportive_postulations.all %}
                <li class="list-group-item">
                    {{ supportive_postulation.summary_link|safe }}
                </li>
            {% endfor %}
            <li class="list-group-item active">
                {{ postulation.summary|safe }}
            </li>
        </ul>
    {% endif %}

    {% if postulation.elaboration %}
    <div>
        {{ postulation.elaboration.html|safe }}
    </div>
    {% endif %}
</div>

<a class="edit-object-button" target="_blank" rel="noopener noreferrer" href="{{ postulation|get_admin_url }}"><i class="fa fa-edit"></i></a>
