{% load model_urls %}
{% load get_html_for_view %}

<div class="card-text">
    {{ source }}
    {% if source.file %}
        <a href="{{ source.file.url }}" class="display-source"
           data-toggle="modal" data-target="#modal">
            <i class="fas fa-search"></i>
        </a>
    {% endif %}
</div>

<div>
    {% if quotes|length %}
        {% for quote in quotes %}
            <hr style="clear: both" />
            <div data-key="{{ quote.slug }}" data-href="{{ quote|get_detail_url }}">
                {{ quote|get_html_for_view:"detail" }}
            </div>
        {% endfor %}
    {% else %}
        No quotes
    {% endif %}
</div>
