{% extends "_card.html" %}
{% load get_detail_url %}

{% block edit %}
    {% with object=occurrence request=request %}
        {{block.super}}
    {% endwith %}
{% endblock %}

{% block detail_url %}{{ occurrence|get_detail_url }}{% endblock %}

{% block top %}
{#    {% if occurrence.image %}#}
{#        <!-- Card image -->#}
{#        <div class="view overlay">#}
{#            <img class="card-img-top" src="{{ occurrence.image.image.url }}" alt="Card image cap">#}
{#            <a href="#!">#}
{#                <div class="mask rgba-white-slight"></div>#}
{#            </a>#}
{#        </div>#}
{#        <!-- /.Card image -->#}
{#    {% endif %}#}
{% endblock %}

{% block body %}
    {{ occurrence.image.thumbnail }}
    <!--Title-->
    <h4 class="card-title text-center">
        {{ occurrence.year }}
    </h4>
    <!--Text-->
    <div class="card-text">
        {{ occurrence.summary.html }}
    </div>
{% endblock %}
<!--/.Card-->