{% load get_admin_url %}
{% load card %}
{% load class_name %}
{% load static %}
{% load with_entity_links %}
{% load highlight %}

<div class="detail">
    {% if request.user.is_superuser %}
        <a class="edit-object-button float-right" target="_blank" href="{{ occurrence|get_admin_url }}">
            <i class="fa fa-edit"></i>
        </a>
    {% endif %}
    <h2 class="text-center card-title">
        {% if occurrence.date %}
            {{ occurrence.date_html }}
        {% endif %}
    </h2>
    <div class="card-text">
        {% for image in unpositioned_images %}
            <div class="img-container" style="max-width: 44%">
                {% card image %}
            </div>
        {% endfor %}
        <div class="lead">
            {{ occurrence.summary.html | with_entity_links }}
        </div>
        <div>
            {{ occurrence.description.html | with_entity_links }}
        </div>
    </div>
    {% if occurrence.postscript %}
        {{ occurrence.postscript.html }}
    {% endif %}
    {% if occurrence.tags_html %}
        <ul class="tags">
            {{ occurrence.tags_html }}
        </ul>
    {% endif %}
    {% if occurrence.citations.exists %}
        <footer class="footer sources-footer">
            <ol class="citations">
                {% for citation in occurrence.citations.all %}
                    <li class="source" id="{{ citation.html_id }}">
                        {{ citation.html }}
                    </li>
                {% endfor %}
            </ol>
        </footer>
    {% endif %}
    {% if request.user.is_superuser %}
        <a class="edit-object-button float-right" target="_blank" href="{{ occurrence|get_admin_url }}"><i class="fa fa-edit"></i></a>
    {% endif %}
</div>