html,
body {
  /*padding: 0;*/
  /*margin: 0;*/
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
}

 {
  /* Enable correct behavior for sticky footer */
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#footer a {
  color: white;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  height: 100%;
  color: #282c37;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
header {
  z-index: 2;
  transform: translate(0, 0);
  transition: all 0.5s ease;
}
header.header-slide {
  transform: translate(0, 0);
}
h1 {
  font-weight: 100;
  font-size: 1.4em;
  display: block;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 476px) {
  .form-container {
    border: none;
  }
}
.cardinfo-wrapper {
  display: flex;
  justify-content: space-around;
}
.bg-illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.bg-illustration svg {
  width: 100%;
}
.card-shape,
#cardform.visa,
#cardform.master-card,
#cardform.maestro,
#cardform.american-express,
#cardform.discover,
#cardform.unionpay,
#cardform.jcb,
#cardform.diners-club {
  border-radius: 6px;
  padding: 2em 2em 1em;
}
@media (max-width: 476px) {
  .card-shape,
  #cardform.visa,
  #cardform.master-card,
  #cardform.maestro,
  #cardform.american-express,
  #cardform.discover,
  #cardform.unionpay,
  #cardform.jcb,
  #cardform.diners-club {
    padding: 2em 1.5em 1em;
  }
}
#cardform {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  padding: 1em 3em 2em;
  width: 55em;
  margin-top: 1em;
  margin-bottom: 2em;
  transition: all 600ms cubic-bezier(0.2, 1.3, 0.7, 1);
  animation: cardIntro 500ms cubic-bezier(0.2, 1.3, 0.7, 1);
  z-index: 1;
}
#cardform:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}
@media (max-width: 476px) {
  #cardform {
    box-sizing: border-box;
    padding: 7em 2em 2em;
    width: 100%;
  }
}
#cardform.visa {
  color: #fff;
  background-color: #0d4aa2;
}
#cardform.master-card {
  color: #fff;
  background-color: #363636;
  background: linear-gradient(115deg, #d82332, #d82332 50%, #f1ad3d 50%, #f1ad3d);
}
#cardform.maestro {
  color: #fff;
  background-color: #363636;
  background: linear-gradient(115deg, #009ddd, #009ddd 50%, #ed1c2e 50%, #ed1c2e);
}
#cardform.american-express {
  color: #fff;
  background-color: #007cc3;
}
#cardform.discover {
  color: #fff;
  background-color: #ff6000;
  background: linear-gradient(#d14310, #f7961e);
}
#cardform.unionpay,
#cardform.jcb,
#cardform.diners-club {
  color: #fff;
  background-color: #363636;
}
.cardinfo-label {
  display: block;
  font-size: 11px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.cardinfo-exp-date {
  margin-right: 1em;
  width: 100%;
}
.cardinfo-cvv {
  width: 100%;
}
#button-pay {
  cursor: pointer;
  width: 16em;
  font-size: 15px;
  border: 0;
  padding: 1.2em 1em;
  color: #fff;
  background: #282c37;
  border-radius: 4px;
  z-index: 0;
}
#button-pay:hover {
  background: #535b72;
}
#button-pay:active {
  animation: cardIntro 200ms cubic-bezier(0.2, 1.3, 0.7, 1);
}
#button-pay.show-button {
  transform: translateY(0);
  opacity: 1;
}
.cardinfo-card-number {
  position: relative;
}
#card-image {
  position: absolute;
  top: 2em;
  right: 1em;
  width: 44px;
  height: 28px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/346994/card_sprite.png);
  background-size: 86px 458px;
  border-radius: 4px;
  background-position: -100px 0;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}
#card-image.visa {
  background-position: 0 -398px;
}
#card-image.master-card {
  background-position: 0 -281px;
}
#card-image.american-express {
  background-position: 0 -370px;
}
#card-image.discover {
  background-position: 0 -163px;
}
#card-image.maestro {
  background-position: 0 -251px;
}
#card-image.jcb {
  background-position: 0 -221px;
}
#card-image.diners-club {
  background-position: 0 -133px;
}
/*-------------------- Inputs --------------------*/
.input-wrapper {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.86);
  height: 2.75em;
  border: 1px solid #eee;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
  padding: 5px 10px;
  margin-bottom: 1em;
}
.cardinfo-card-number,
.cardinfo-exp-date,
.cardinfo-cvv {
  transition: transform 0.3s;
}
.braintree-hosted-fields-focused {
  border-color: #5db6e8;
}
.braintree-hosted-fields-invalid {
  border-color: #e53a40;
  animation: shake 500ms cubic-bezier(0.2, 1.3, 0.7, 1) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
/*-------------------- Animations --------------------*/
@keyframes cardIntro {
  0% {
    transform: scale(0.8) translate(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}
