{% extends "base.htm" %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block content %}
    <div class="container">
{#        <h1 class="page-title">{{ flatpage.title }}</h1>#}
{#        {{ flatpage.content }}#}

        ModularHistory, Inc. gathers, organizes, analyzes, and displays historical information to facilitate public research and learning regarding the patterns of human moral, intellectual, and religious progress.

        We research the history of human moral and intellectual movements, focusing especially on the roles and contributions of scientists, scholars, philosophers, and religious leaders. This involves locating and reading historical documents and literary works; transcribing the contents of historical documents and literary works (where legal to do so); reading books and articles by contemporary and modern leaders, scholars, journalists, etc.; and modularizing (i.e., breaking into consumable blocks of information) and chronologically organizing occurrences, quotes, literary works, etc. for display and analysis.

        ModularHistory's research activities are at present carried out directly by the president and directors of ModularHistory, Inc. but may also be carried out by other volunteers and paid employees. Research and analysis is conducted primarily online, from Texas and other locations in the United States. These activities are not restricted to a particular physical location. The handling of physical historical documents in some cases requires contributors to travel to various states and locations in which such documents may be found.

        ModularHistory's research activities directly further its exempt purposes by furthering research and preparing information for public consumption so that people can learn about the patterns of human moral, intellectual, and religious progress.
    </div>
{% endblock %}