<%inherit file="/home/templates/base.htm" />

<%block name="content">
    <div class="container">
        %if len(people) > 0:
            <div id="people-list">
                %for person in people:
                    <div class="row">
                        %if False:
                        <img class="img-thumbnail" style="width: 20rem; margin-right: 1.5rem; vertical-align: top;" src="${ event.pictures.filter(is_representative=True)[0].image.url if len(event.pictures.filter(is_representative=True)) > 0 else STATIC_URL+'events/media/default.png' }" alt="tournament image"/>
                        %endif
                        <div>
                            <h2>
                                <a href="/people/${ person.id }/">${ person.name }</a>
                            </h3>
                            <div>
                                ${ person.birth_date.strftime('%b %d, %Y') if person.birth_date else '---' }
                            </div>
                        </div>
                    </div>
                    <hr />
                %endfor
            </div>
        %else:
            <p class="lead">
                Hell is other people.
            </p>
            <p>
                If you have any questions, please <a href="/contact/">contact me</a>.
            </p>
        %endif
    </div>
</%block>
