{% extends "_card.html" %}
{% load get_detail_url %}

{% block card_class %}image-card{% endblock %}

{% block card_styles %}max-width: {{ image.width }}px{% endblock %}

{% block edit %}
    {% with object=image request=request %}
        {{block.super}}
    {% endwith %}
{% endblock %}

{% block detail_url %}{{ image|get_detail_url }}{% endblock %}

{% block top %}
    <div class="view overlay" style="max-width: {{ image.width }}px; max-height: 97vh;">
        <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.image.name }}">
        <a href="#" onclick="return false">
{#        <a href="/history/images/{{ image.id }}" target="_blank">#}
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
{% endblock %}

{% block body %}
    {% if image.caption %}
        <div class="card-text">
            {{ image.caption.html }}
            {% if image.provider_string %}
                <div class="image-credit float-right">
                    <p>
                        {{ image.provider_string }}
                    </p>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block tags %}{% endblock %}