# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: artifact cleanup
on:
  # https://docs.github.com/en/actions/reference/events-that-trigger-workflows#schedule
  schedule:
    # Every other day at 1am
  - cron: 0 1 * * */2
  workflow_dispatch:
jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Remove old artifacts
      uses: c-hive/gha-remove-artifacts@v1.2.0
      with:
        age: 3 days
